---
import MainNavigation from "../../components/MainNavigation.astro";
import Layout from "../../layouts/Layout.astro";

---


<Layout>

    <MainNavigation/>

    <div class="background"></div>
    <div>

    </div>
    
</Layout>
