@keyframes anim-loading {
    0%{
        stroke-dashoffset: 0;
        transform: rotateZ(-45deg);
    }
    30%{
        stroke-dashoffset: 100;
        transform: rotateZ(45deg);
    }

    70%{
        transform: rotateZ(45deg);
        stroke-dashoffset: 200;
    }
    100%{
        transform: rotateZ(45deg);
        stroke-dashoffset: 200;
    }
}

/* entering-page */
@keyframes anim-entering-page {
    0%{
        opacity: 0;
        transform: scale(1.02);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* zoom-in */
.et-zoom-in {
    vertical-align: top;
    animation: none;
    visibility: hidden;
    transform-origin: 50% 50%;
}

@keyframes anim-et-zoom-in {
    0%{
        opacity: 0;
        transform: scale(0.6, 0);
    }
    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* float-in */
.et-float-in {
    vertical-align: top;
    animation: none;
    visibility: hidden;
    transform-origin: 50% 50%;
}

@keyframes anim-et-float-in {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    50%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* entering-path */
@keyframes anim-et-path {
    0% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* entering-progress */
.et-progress{

    animation: none;
}

@keyframes anim-entering-progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/* cursor-particle */
.cursor-particle {
    position: absolute;
    animation: anim-cursor-particle 0.3s ease-in;

    z-index: 999;
    pointer-events: none;
}

@keyframes anim-cursor-particle {
    0%{
        transform: scale(1) translateY(0);
        opacity: 0.8;
    }
    80%{
        opacity: 0;
    }
    100%{
        transform: scale(2) translateY(20px);
        opacity: 0;
    }
}
