@keyframes anim-loading {
    0%{
        stroke-dashoffset: 0;
        transform: rotateZ(-45deg);
    }
    30%{
        stroke-dashoffset: 100;
        transform: rotateZ(45deg);
    }

    70%{
        transform: rotateZ(45deg);
        stroke-dashoffset: 200;
    }
    100%{
        transform: rotateZ(45deg);
        stroke-dashoffset: 200;
    }
}

.entering-text {
    display: inline-block;
    animation: none;
    visibility: hidden;
}

.entering-progress{

    animation: none;

}

@keyframes anim-entering-text {
    0%{
        opacity: 0;
        transform: scale(0.8, 0);
    }
    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes anim-entering-route {
    0% {
        stroke-dashoffset: 400;
        transform: rotate3d(1, 0, 0, 50deg);
    }
    100% {
        stroke-dashoffset: 0;
        transform: rotate3d(1, 0, 0, 55deg);
    }
}

@keyframes anim-entering-progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
