@import "tailwindcss";

* {
    box-sizing: border-box;

    -webkit-user-drag: none;
}

:root {
    --font-size-base: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.2rem;

    --spacing: 0.25rem;

    --content-color: #f1f5f9;

    background: black;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    :root {
        font-size: 18px;
    }
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    background: linear-gradient(170deg, #121f27, #000000);
    /* background: linear-gradient(170deg, #40c5ff, #ff5b7e, #262422); */
    /* background: #262422; */

    color: var(--content-color);
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
}

.page-content {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;

    transform-origin: 50% 50%;
    animation: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    /* background: url("../assets/grid.svg"); */
    background: url("../assets/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: 60%;
    opacity: 0.7;
}

.scroll-hint {
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-50%);

    user-select: none;

    font-size: 22px;
    color: rgba(200, 200, 200, 0.5);

    transition: transform 0.2s;
    z-index: 3;
}

.scroll-hint:hover {
    transform: translateX(-50%) scaleX(1.3);
}


/* text  ============================================================================================================== */
h1 {
    font-size: var(--font-size-2xl);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-size-xl);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-lg);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: var(--font-size-md);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    color: var(--content-color);
}

p {
    font-size: var(--font-size-base);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

b {
    font-size: var(--font-size-base);
}

i {
    font-size: var(--font-size-base);
}

pre {
    padding: 0.5rem;

    border: solid 1px #6e6e6e;
    border-radius: 4px;
}

p code ,li code{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #24292e;
    color: white;

    border: solid 1px #6e6e6e;
    border-radius: 4px;
}

p a {
    color: #51a2ff;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--content-color);
}

li {
    font-size: var(--font-size-base);
}

th {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.6rem;

    text-decoration: underline;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

table {
    white-space: nowrap;
    overflow: auto;
}

summary {
    background-color: #24292e;
    padding: 10px;
}

details {
    background-color: #070f14;
    border-radius: 12px;
    border: solid 1px #6e6e6e;
    overflow: hidden;

    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/* scrollbar  ============================================================================================================== */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.8);
}

.link-text {
    max-width: 100%;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #51a2ff;
    transition: all 0.2s;
}

.link-text:hover {
    color: #74d4ff;
}