@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    cursor: url('../assets/cursor.svg'), auto;
}

:root {
    --font-size-base: 1rem;
    --font-size-md: 1.3rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.2rem;

    --spacing: 0.25rem;

    --content-color: #f1f5f9;
    --title-color: #a2f4fd;
    --title-color2: #a2d6fd;

    --text-bolder: 35px 35px rgba(0, 0, 0, 0.25);

    background: black;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    :root {
        font-size: 18px;
    }
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    background: #000;

    color: var(--content-color);
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
}

.page-content {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;

    transform-origin: 50% 50%;
    animation: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background-image:
        radial-gradient(closest-side, rgba(12, 93, 99, 0.4), rgba(12, 93, 99, 0)),
        radial-gradient(closest-side, rgba(9, 61, 75, 0.4), rgba(9, 61, 75, 0)),
        radial-gradient(closest-side, rgba(4, 19, 42, 0.4), rgba(4, 19, 42, 0));

    /* background-image:
        radial-gradient(closest-side, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0)),
        radial-gradient(closest-side, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0)),
        radial-gradient(closest-side, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0)); */

    background-size:
        140vmax 140vmax,
        120vmax 120vmax,
        110vmax 110vmax;

    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
    
    animation: 16s anim_bg linear infinite;
}

.background-grid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background: url("../assets/grid.svg");
    background-size: 16vmax;
}

@keyframes anim_bg {
    0%, 100% {
        background-position:
            calc(0vw - 70vmax) calc(20vh - 70vmax),
            calc(70vw - 60vmax) calc(10vh - 60vmax),
            calc(50vw - 55vmax) calc(60vh - 55vmax);
    }
    20%{
        background-position:
            calc(30vw - 70vmax) calc(40vh - 70vmax),
            calc(90vw - 60vmax) calc(0vh - 60vmax),
            calc(60vw - 55vmax) calc(80vh - 55vmax);
    }
    40%{
        background-position:
            calc(10vw - 70vmax) calc(60vh - 70vmax),
            calc(80vw - 60vmax) calc(30vh - 60vmax),
            calc(10vw - 55vmax) calc(40vh - 55vmax);
    }
    60%{
        background-position:
            calc(40vw - 70vmax) calc(80vh - 70vmax),
            calc(50vw - 60vmax) calc(0vh - 60vmax),
            calc(80vw - 55vmax) calc(20vh - 55vmax);
    }
    70%{
        background-position:
            calc(75vw - 70vmax) calc(90vh - 70vmax),
            calc(30vw - 60vmax) calc(50vh - 60vmax),
            calc(100vw - 55vmax) calc(50vh - 55vmax);
    } 
}

.scroll-hint {
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-50%);

    user-select: none;

    font-size: 22px;
    color: rgba(200, 200, 200, 0.5);

    transition: transform 0.2s;
    z-index: 3;
}

.scroll-hint:hover {
    transform: translateX(-50%) scaleX(1.3);
}


/* text  ============================================================================================================== */
/* h1 {
    font-size: var(--font-size-2xl);
    color: var(--content-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

h2 {
    font-size: var(--font-size-xl);
    color: var(--content-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

h3 {
    font-size: var(--font-size-lg);
    color: var(--content-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
h3::before {
    content: "》";
}

h4 {
    font-size: var(--font-size-md);
    color: var(--content-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

hr {
    color: var(--content-color);
}

p {
    font-size: var(--font-size-base);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

b {
    font-size: var(--font-size-base);
}

i {
    font-size: var(--font-size-base);
}

pre {
    margin: 0.6rem;
    padding: 0.5rem;

    border: solid 1px #6e6e6e;
    border-radius: 4px;
}

p code ,li code{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #24292e;
    color: white;

    border: solid 1px #6e6e6e;
    border-radius: 4px;
}

p a {
    color: #51a2ff;
}

ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--content-color);
}

li {
    font-size: var(--font-size-base);
}

th {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    font-weight: bolder;
    border: solid 1px white;
}

td {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    border-left: solid 1px white;
    border-right: solid 1px white;
}

table {
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 1rem;

    border: solid 1px white;
    margin-left: 1rem;
    margin-right: 1rem;
}

summary {
    background-color: #24292e;
    padding: 10px;
}

details {
    background-color: #070f14;
    border-radius: 12px;
    border: solid 1px #6e6e6e;
    overflow: hidden;

    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
} */

/* scrollbar  ============================================================================================================== */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-track {
    margin-top: 70px;
    margin-bottom: 10px;
}

.link-text {
    max-width: 100%;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #51a2ff;
    transition: all 0.2s;
}

.link-text:hover {
    color: #74d4ff;
}