@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-user-drag: none;
}

:root {
    --font-size-base: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.6rem;
    --font-size-xl: 2.2rem;
    --font-size-2xl: 3rem;

    background: black;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    font-size: 20px;
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    background: linear-gradient(170deg, #11274e, #433443);
    /* background: linear-gradient(170deg, #40c5ff, #ff5b7e, #262422); */
    /* background: #262422; */

    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
}

.page-content {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;

    transform-origin: 50% 50%;
    animation: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    /* background: url("../assets/grid.svg"); */
    background: url("../assets/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: 60%;
    opacity: 0.7;
}

@keyframes page-content-appear {
    
    0%{
        /* opacity: 0; */
        transform: scale(1.05);
    }
    100%{
        /* opacity: 1; */
        transform: scale(1);
    }

}

.scroll-hint {
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-50%);

    user-select: none;

    font-size: 22px;
    color: rgba(200, 200, 200, 0.5);

    transition: transform 0.2s;
    z-index: 3;
}

.scroll-hint:hover {
    transform: translateX(-50%) scaleX(1.3);
}

a {
    font-size: var(--font-size-base);
    color: #51a2ff;
}
a:hover {
    color: #74d4ff;
}


/* scrollbar  ============================================================================================================== */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.8);
}

.link-text {
    max-width: 100%;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #51a2ff;
    transition: all 0.2s;
}

.link-text:hover {
    color: #74d4ff;
}