.main-nav-container {
    position: absolute;
    left: 0;
    top: 0;

    width: 100dvw;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 20px rgba(46, 68, 96, 0.5);

    z-index: 999;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 1.4rem;

    user-select: none;
}

.language-switch {
    color: rgb(255, 255, 255);
    margin-right: 16px;
    user-select: none;

    transition: transform 0.3s ease;
}
.language-switch:hover {
    transform: scale(1.06);
}

/* hamburger-menu */
#toggler {
    display: none;
}

.hamburger-menu {
    color: rgb(255, 255, 255);
}

.hamburger-menu #hamburger {
    display: inline-block;
}
.hamburger-menu #close {
    display: none;
}
#toggler:checked + .hamburger-menu #hamburger {
    display: none;
}
#toggler:checked + .hamburger-menu #close {
    display: inline-block;
}

.main-nav-links-hamburger {
    position: absolute;
    top: 56px;
    left: 0;

    width: 100dvw;
    height: 100dvh;

    max-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    padding-top: 40px;
    background-color: rgba(38, 42, 53, 0.85);

    color: white;

    transition: all 0.1s ease-in;
}

#toggler:checked ~ .main-nav-links-hamburger {
    max-width: 200px;
}

.main-nav-links-hamburger ul li {
    margin-bottom: 10px;
    opacity: 0;

    transition: all 0.5s;
    transform: translateX(-100%);
}
#toggler:not(:checked) ~ .main-nav-links-hamburger ul li {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
    transition-delay: 0s;
}

#toggler:checked ~ .main-nav-links-hamburger ul li {
    opacity: 1;
    /* transition: all 0.5s; */
    transform: translateX(0);
    /* transition-delay: 0s; */
}
