.main-nav-container {
    width: 100%;
    display: flex;
    justify-content: center;

    z-index: 999;
}

.main-nav .logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 40px;

    user-select: none;
}

.main-nav {
    width: 100%;
    height: 56px;

    background-color: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

/* main-nav-links normal */
.main-nav-links {
    display: flex;
}

.main-nav-links li {
    margin: 10px;
    margin-left: 20px;

    display: flex;
}

.main-nav-links a {
    display: inline-block;
    flex: 0 0 auto;
    user-select: none;

    padding: 8px 6px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    
    transform: scale(1);

    transition: background-color 0.3s ease, transform 0.3s ease;
}
.main-nav-links a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.language-switch {
    color: rgb(255, 255, 255);
    margin-right: 16px;
    user-select: none;

    transition: transform 0.3s ease;
}
.language-switch:hover {
    transform: scale(1.06);
}

/* main-nav-links hamburger-menu */
#toggler {
    display: none;
}

.hamburger-menu {
    color: rgb(255, 255, 255);
    margin-right: 16px;

    display: none;
}

.hamburger-menu #hamburger {
    display: inline-block;
}
.hamburger-menu #close {
    display: none;
}
#toggler:checked + .hamburger-menu #hamburger {
    display: none;
}
#toggler:checked + .hamburger-menu #close {
    display: inline-block;
}

.main-nav-links-hamburger {
    position: absolute;
    top: 56px;
    left: 0;

    width: 100dvw;
    height: 100dvh;

    max-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    padding-top: 40px;
    border-top-right-radius: 10px;
    background-color: rgba(4, 11, 30, 0.85);

    color: white;

    transition: all 0.1s ease-in;
}

#toggler:checked ~ .main-nav-links-hamburger {
    max-width: 200px;
}

.main-nav-links-hamburger ul li {
    margin-bottom: 10px;
    opacity: 0;

    transition: all 0.5s;
    transform: translateX(-100%);
}
#toggler:not(:checked) ~ .main-nav-links-hamburger ul li {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
    transition-delay: 0s;
}

#toggler:checked ~ .main-nav-links-hamburger ul li {
    opacity: 1;
    /* transition: all 0.5s; */
    transform: translateX(0);
    /* transition-delay: 0s; */
}

@media screen and (max-width: 740px){

    .language-switch span {
        display: none;
    }
}

@media screen and (max-width: 640px){

    .main-nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}