.main-nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(4, 19, 42, 0.2);
    box-shadow: 0 2px 20px rgba(46, 68, 96, 1);

    z-index: 999;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 1.4rem;

    user-select: none;
}

