h1 {
    font-size: var(--font-size-2xl);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-size-xl);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-lg);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: var(--font-size-md);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    color: #c0c0c0;
}

p {
    font-size: var(--font-size-base);
    color: #c0c0c0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

b {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}

i {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}

pre {
    padding: 0.5rem;

    border: solid 1px #6e6e6e;
    border-radius: 4px;
}

p code {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: #24292e;
    color: white;

    border: solid 1px #6e6e6e;
    border-radius: 4px;

    line-height: 2.5rem;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}

li {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}