h1 {
    font-size: var(--font-size-2xl);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-size-xl);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-lg);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: var(--font-size-md);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    color: #c0c0c0;
}

p {
    font-size: var(--font-size-base);
    color: #c0c0c0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

b {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}

i {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}

a {
    font-size: var(--font-size-base);
    color: #51a2ff;
}
a:hover {
    color: #74d4ff;
}

pre {
    padding: 0.5rem;
}

code {
    background-color: #24292e;
    color: white;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}

li {
    font-size: var(--font-size-base);
    color: #c0c0c0;
}