---
import { Image } from 'astro:assets';
import GithubQrcode from "../../assets/qrcodes/qrcode_github.webp"
import RepoQrcode from "../../assets/qrcodes/qrcode_repo.webp"


const DISCORD_LINK = "https://discordapp.com/users/1086832595943305236";
const GITHUB_LINK = "https://github.com/lbc0841";

const QRCODE_SIZE = 180;
---

<div style="margin-bottom: 80px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">找到我<hr></div>

    <div class="find-me-links">
        
        <i class="fa-brands fa-discord" style="width: 22px;"></i>
        <b>Discord</b>
        <a class="text-blue-400 hover:text-sky-300" href={DISCORD_LINK} target="_blank">lbc0841</a>
        <br>

        <i class="fa-solid fa-envelope" style="width: 22px;"></i>
        <b>Gmail</b>
        <a class="text-blue-400 hover:text-sky-300" href="" target="_blank">cracker04012008@gmail.com</a>
        <br>

        <i class="fa-brands fa-github" style="width: 22px;"></i>
        <b>Github</b>
        <a class="text-blue-400 hover:text-sky-300" href={GITHUB_LINK} target="_blank">https://github.com/lbc0841</a>
        <br>

    </div>

    <div class="flex justify-center" style="margin-top: 70px; margin-bottom: 100px; margin-right: 14px; gap: 80px; padding:20px;">

        <div class="w-40 hidden md:block text-white">
            <Image src={GithubQrcode} alt="Github" class={"w-full"}/>
            <small class="block w-full text-center">My Github</small>
        </div>

        <div class="w-40 hidden md:block text-white">
            <Image src={RepoQrcode} alt="Github" class={"w-full"}/>
            <small class="block w-full text-center">Github Repo</small>
        </div>

    </div>
    
    <div class="to-top-button">
        到底了 ^•ﻌ•^
    </div>
</div>
