---
---

<div class="about-me-item-container">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 40px; margin-right: 20px;">編程能力<hr></div>

    <div class="flex" style="color: rgb(160,160,160);">
        <div class="ability-progress-container">

            <div class="code-ability">
                <b>C</b><progress class="entering-progress" max="100" value="57"></progress>
            </div>

            <div class="code-ability">
                <b>C++</b><progress class="entering-progress" max="100" value="60"></progress>
            </div>

            <div class="code-ability">
                <b>HTML</b><progress class="entering-progress" max="100" value="50"></progress>
            </div>

            <div class="code-ability">
                <b>CSS</b><progress class="entering-progress" max="100" value="48"></progress>
            </div>

            <div class="code-ability">
                <b>JavaScript</b><progress class="entering-progress" max="100" value="26"></progress>
            </div>

            <div class="code-ability">
                <b>Python</b><progress class="entering-progress" max="100" value="30"></progress>
            </div>

            <div class="code-ability">
                <b>Verilog</b><progress class="entering-progress" max="100" value="53"></progress>
            </div>

            <div class="code-ability">
                <b>Markdown</b><progress class="entering-progress" max="100" value="95"></progress>
            </div>
        </div>
    </div>

    <div class="oj">

    
        <div class="oj-progress">
            <svg width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">165</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">Zerojudge</b>
        </div>
    
        <div class="oj-progress">
            <svg width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">041</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">Leetcode</b>
        </div>

        <div class="oj-progress">
            <svg width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">000</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">AtCoder</b>
        </div>

    </div>
    
</div>

<style>
    .oj {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .oj-progress {

        position: relative;
        width: 100%;
        max-width: 200px;
        margin: auto;
    }

    .oj-progress svg {
        overflow: visible;
        margin: auto;
    }

    .oj-progress svg circle {
        fill: transparent;
        stroke: #418bd4;
        stroke-width: 6;
        stroke-dasharray: 500;
        stroke-linecap: round;
    }

    .oj-progress b {
        font-size: 22px;
    }

    .oj-progress svg text {

        fill: #418bd4;
        font-size: 60px;
        text-anchor: middle;
    }

    @media screen and (max-width: 640px) {
        .oj-progress b {
            font-size: 14px;
        }
    }
</style>
