---
---

<div style="margin-bottom: 120px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 40px; margin-right: 20px;">能力條<hr></div>

    <div class="flex" style="color: rgb(160,160,160);">
        <div class="ability-progress-container">

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">C</b><progress class="ability-progress" max="100" value="57"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">C++</b><progress class="ability-progress" max="100" value="60"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">HTML</b><progress class="ability-progress" max="100" value="50"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">CSS</b><progress class="ability-progress" max="100" value="48"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">JavaScript</b><progress class="ability-progress" max="100" value="26"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">Python</b><progress class="ability-progress" max="100" value="30"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">Verilog</b><progress class="ability-progress" max="100" value="63"></progress>
            </div>

            <div class="relative" style="margin-bottom: 20px;">
                <b class="ability-text">Markdown</b><progress class="ability-progress" max="100" value="95"></progress>
            </div>


        </div>

    </div>

</div>

