---
---
<div class="border-t-b p-4 mb-8">
    <div class="text-white text-2xl font-bold mb-2 mr-2">經驗<hr></div>

    <div class="grid grid-cols-1 gap-1 w-full lg:grid-cols-2">
        <div class="mr-6">
            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">C++</span><progress class="entering-progress" max="100" value="60"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">HTML</span><progress class="entering-progress" max="100" value="50"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">CSS</span><progress class="entering-progress" max="100" value="48"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">JavaScript</span><progress class="entering-progress" max="100" value="20"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">Python</span><progress class="entering-progress" max="100" value="21"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">Verilog</span><progress class="entering-progress" max="100" value="47"></progress>
            </div>

            <div class="code-ability text-slate-900">
                <span class="et-zoom-in font-bold text-lg sm:text-xl">Markdown</span><progress class="entering-progress" max="100" value="95"></progress>
            </div>
        </div>

        <div class="hidden lg:block mt-6 mb-4" style="border-top: dashed 4px rgba(255, 255, 255, 0.5); border-bottom: dashed 4px rgba(255, 255, 255, 0.5)">
            <canvas class="particle-text w-full h-full"></canvas>
        </div>
    </div>

    <div class="oj mb-16">

        <div class="oj-progress">
            <svg class="et-path" width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">185</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">Zerojudge</b>
        </div>
    
        <div class="oj-progress">
            <svg class="et-path" width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">268</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">Leetcode</b>
        </div>

        <div class="oj-progress">
            <svg class="et-path" width="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="80"></circle>
                <text style="oj-count-text" x="100" y="120">4/3</text>
            </svg>
    
            <b class="text-white" style="display: block; width: 100%; text-align: center;">APCS</b>
        </div>

    </div>
    
    <div class="mb-16">
        <h1>◇ APCS</h1>
        <ul>
            <li><b class="et-zoom-in inline-block">2024/10/20 》觀念 3 | 實作 1</b></li>
            <li><b class="et-zoom-in inline-block">2025/06/15 》觀念 4 | 實作 3</b></li>
        </ul>
    </div>

    <div class="mb-16">
        <h1>◇ 證照</h1>
        <ul>
            <li><b class="et-zoom-in inline-block">2024/08/16 》工業電子 丙級</b></li>
        </ul>
    </div>
</div>

<script src="../../scripts/text_particle"></script>

<style>
    .oj {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .oj-progress {

        position: relative;
        width: 100%;
        max-width: 200px;
        margin: auto;
    }

    .oj-progress svg {
        overflow: visible;
        margin: auto;
    }

    .oj-progress svg circle {
        fill: transparent;
        stroke: #418bd4;
        stroke-width: 6;
        stroke-dasharray: 500;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        transform: rotateZ(-90deg);
    }

    .oj-progress b {
        font-size: 22px;
    }

    .oj-progress svg text {

        fill: #418bd4;
        font-size: 60px;
        text-anchor: middle;
    }

    @media screen and (max-width: 640px) {
        .oj-progress b {
            font-size: 14px;
        }
    }
</style>
