---
---

<div style="margin-bottom: 120px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 40px; margin-right: 20px;">未來目標<hr></div>

    <div class="intro-text">
        <ul class="list-disc font-bold" style="margin-left: 20px;">
            <li class="entering-text">APCS</li>
            <li class="entering-text">學習 STM32</li>
            <li class="entering-text">持續優化個人網站</li>
        </ul>
    </div>
    

</div>
