---
import { PlanIcon } from '../../assets/icons';

---

<div class="about-me-item-container">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 40px; margin-right: 20px;">現在 & 未來<hr></div>

    <h1 class="text-white">目前學歷</h1>
    <div class="flex flex-col md:flex-row">
        <svg class="route" viewBox="0 0 200 200">

            <path class="route-path" fill="transparent" stroke="white" stroke-width="10" d="M38,233
                    C28,203 39,202 42,200
                    C52,196 60,190 65,180
                    C70,171 71,161 69,150
                    C68,147 65,144 62,141
                    C56,136 50,132 44,127
                    C40,123 39,118 42,113
                    C43,110 49,108 53,109
                    C56,110 59,111 61,113 
                    C70,117 79,117 88,115
                    C95,114 103,113 110,116
                    C115,117 118,114 118,109
                    C118,105 118,101 118,97
                    C118,94  116,92 114,90
                    C107,83 100,76 94,68
                    C87,56 68,42 115,11 "/>

                <path fill="white" stroke="none" d="M147,8 
					C151,9 156,10 160,12 
					C166,16 172,19 179,16 
					C179,25 173,30 164,30 
					C161,30 158,29 154,30 
					C151,30 149,32 150,35 
					z"/>

				<line x1="152" y1="60" x2="147" y2="8" stroke="white" stroke-width="2"/>
        </svg>

        <div class="intro-text">
            <ul class="list-disc" style="margin-left: 20px;">

                <li>
                    <b class="entering-text">臺中市立爽文國民中學</b><br>

                    <small class="entering-text text-gray-400">
                        程式小白，最先接觸的語言是 C++<br>
                        可以說是根本還沒入門<br>
                        只會 printf/scanf, cin/cout 基本的變數、迴圈與條件判斷<br>
                    </small>
                </li>
                <br>

                <li>
                    <b class="entering-text">臺中市立臺中工業高級中等學校</b><br>

                    <small class="entering-text text-gray-400">
                        接觸的語言越來越多了
                        知道該怎麼去學習一個新工具<br>
                        還在努力變成大佬的路上<br>
                    </small>
                <br>

            </ul>
        </div>
    </div>
    

    

    <h1 class="text-white" style="margin-bottom: 20px; margin-top: 40px;">未來計畫</h1>

    <div class="flex flex-col md:flex-row">
        <PlanIcon color="white" height={240} width={240}/>

        <div class="intro-text">
            <ul class="list-disc" style="margin-left: 20px;">
                <li><b class="entering-text">APCS</b></li>
                <li><b class="entering-text">學習 STM32</b></li>
                <li><b class="entering-text">持續優化個人網站</b></li>
            </ul>
        </div>

    </div>


</div>

<style>
    .route {
        overflow: visible;
        width: 250px;
        height: min-content;

        max-width: 100%;
    }

    .route .route-path {
        transform-origin: 50% 40%;
        transform: rotate3d(1, 0, 0, 55deg);
        stroke-linecap: round;

        stroke-dashoffset: 0;
        stroke-dasharray: 400;
        animation: none;
    }

</style>
