---
---

<div class="about-me-item-container">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 40px; margin-right: 20px;">未來目標<hr></div>

    <div class="intro-text">
        <ul class="list-disc font-bold" style="margin-left: 20px;">
            <li><b class="entering-text">APCS</b></li>
            <li><b class="entering-text">學習 STM32</b></li>
            <li><b class="entering-text">持續優化個人網站</b></li>
        </ul>
    </div>
    
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
        width="256.000000pt" height="256.000000pt" viewBox="0 0 256.000000 256.000000"
        preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
        fill="#000000" stroke="none">
            <path d="M1770 2329 c-30 -5 -57 -13 -60 -18 -3 -4 -15 -13 -28 -20 -27 -14
            -48 -62 -67 -155 -25 -123 -71 -139 -231 -83 -56 20 -80 24 -109 17 -44 -10
            -61 -24 -110 -95 -47 -69 -66 -123 -73 -208 -4 -61 -2 -73 26 -130 35 -69 60
            -101 178 -226 l82 -87 7 -79 c4 -48 2 -91 -4 -107 -13 -33 -55 -44 -119 -28
            -34 8 -72 8 -137 0 -114 -13 -240 -13 -263 0 -44 25 -144 60 -170 60 -38 0
            -78 -32 -85 -67 -10 -49 12 -85 86 -143 112 -88 179 -152 194 -187 28 -68 11
            -219 -36 -311 -32 -62 -127 -153 -198 -187 -62 -30 -82 -57 -61 -82 30 -37
            129 5 228 96 30 27 58 50 62 51 13 0 51 73 79 153 24 69 29 97 29 180 0 80 -4
            105 -21 139 -24 47 -91 118 -164 173 -51 39 -118 101 -100 93 67 -29 96 -42
            126 -58 44 -24 158 -26 292 -6 58 8 105 10 140 4 99 -16 180 13 210 77 12 26
            17 62 17 136 l0 101 -44 56 c-24 31 -70 82 -102 112 -60 56 -122 129 -142 167
            -18 32 -15 165 4 215 20 52 66 98 97 98 13 0 56 -11 95 -25 39 -14 89 -25 109
            -25 48 0 112 30 147 66 28 31 56 112 56 164 0 41 27 66 83 74 90 13 125 28
            131 55 9 49 -33 60 -154 40z"/>
        </g>
    </svg>

</div>
