---
---

<div style="margin-bottom: 120px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">關於我<hr></div>
    
    <div class="intro-text">
        <b class="entering-text">國二慢慢開始 Coding，軟體 硬體都有涉略</b><br>
        <b class="entering-text">廣泛嘗試過各式工具&技術領域，像是：</b><br>
        <b class="entering-text">遊戲引擎、網頁設計、應用開發、著色器、影片剪輯、3D建模、單晶片.......</b><br>
        <b class="entering-text">雖然不能算是精通</b>
        <span class="entering-text">(簡稱菜)</span> 
        <b class="entering-text">，但是擁有相關的經驗</b>

        <br><br>
        
        <ul class="list-disc font-bold" style="margin-left: 20px;">
            <li class="entering-text">17y　|　性別 ♂</li>
            <li class="entering-text">愚人節生日</li>
            <li class="entering-text">擅長各種破防</li>
            <li class="entering-text">我裂開了</li>
        </ul>
    </div>
    <br>

    <div class="motto">
        <i>
            梭哈，是種智慧<br>
            赌狗，應有盡有
        </i>
    </div>
    
</div>
