---
---

<div style="margin-bottom: 120px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">關於我<hr></div>
    
    <div class="intro-text">
        <b>國二慢慢開始 Coding</b> <b>，軟體 硬體都有涉略</b><br>
        <b>廣泛嘗試過各式工具&技術領域，像是：</b><br>
        <b>遊戲引擎、網頁設計、應用開發、著色器、影片剪輯、3D建模、單晶片.......</b><br>
        <b>雖然不能算是精通</b> <samp>(簡稱菜)</samp> <b>，但是擁有相關的經驗</b>

        <br><br>
        
        <ul class="list-disc font-bold" style="margin-left: 20px;">
            <li>17y　|　性別 ♂</li>
            <li>愚人節生日</li>
            <li>擅長各種破防</li>
            <li>我裂開了</li>
        </ul>
    </div>
    <br>

    <div class="motto">
        <i>
            梭哈，是種智慧<br>
            赌狗，應有盡有
        </i>
    </div>
    
</div>
