---
---

<div class="about-me-item-container">
    <div class="text-white text-2xl font-bold mb-2 mr-2">關於我<hr></div>
    
    <div class="intro-text">
        <span class="et-zoom-in">國二慢慢開始接觸程式 (上輩子做壞事，這輩子寫程式)</span><br>
        <span class="et-zoom-in">軟體 硬體都有涉略</span><br>
        <span class="et-zoom-in">興趣廣泛，嘗試過各式工具&技術領域，比如：</span><br>
        <span class="et-zoom-in">遊戲引擎、網頁設計、應用開發、著色器、影片剪輯、3D建模、單晶片.......</span><br>
        <span class="et-zoom-in">雖然不能算是精通</span>
        <span class="et-zoom-in">(簡稱菜)</span> 
        <span class="et-zoom-in">，只能算是擁有相關的經驗</span>

        <br><br>
        
        <ul>
            <li><span class="et-zoom-in">17y　|　性別 ♂</span></li>
            <li><span class="et-zoom-in">MBIT：INTP</span></li>
            <li><span class="et-zoom-in">愚人節生日</span></li>
            <li><span class="et-zoom-in">擅長各種破防</span></li>
            <li><span class="et-zoom-in">我裂開了</span></li>
        </ul>
    </div>
    <br>

    <div class="motto">
        <span>
            梭哈，是種智慧<br>
            赌狗，應有盡有
        </span>
    </div>
    
</div>
