---
---

<div class="border-t-b p-4 mb-8">
    <div class="text-white text-2xl font-bold mb-2 mr-2">關於我<hr></div>
    
    <div class="intro-text">
        <span class="et-zoom-in inline-block">國二慢慢開始接觸程式</span><br>
        <span class="et-zoom-in inline-block">(最先接觸的是 C++)</span><br>
        <br>
        <span class="et-zoom-in inline-block">軟體/硬體都有涉略</span><br>
        <span class="et-zoom-in inline-block">興趣廣泛，嘗試過多種工具&技術領域，比如：</span><br>
        <span class="et-zoom-in inline-block">遊戲引擎(Unity)、網頁設計、應用開發、著色器、影片剪輯、3D建模、單晶片、Layout ...</span><br>
        <br>
        <span class="et-zoom-in inline-block">雖然都不算是精通</span>
        <span class="et-zoom-in inline-block">(菜)</span> 
        <span class="et-zoom-in inline-block">，但也算是擁有相關的經驗</span>

        <br><br>
        
        <ul class="list-disc ml-6">
            <li><span class="et-zoom-in inline-block">性別：♂， MBIT：INTP</span></li>
            <li><span class="et-zoom-in inline-block">愚人節生日</span></li>
            <li><span class="et-zoom-in inline-block">擅長各種破防</span></li>
            <li><span class="et-zoom-in inline-block">我裂開了</span></li>
        </ul>
    </div>
    <br>

    <div class="motto">
        <span>
            梭哈，是種智慧<br>
            賭狗，應有盡有
        </span>
    </div>
    
</div>
