---
import {
    EasyEdaIcon,
    PencilIcon,
    AstroIcon,
    BlenderIcon,
    GitIcon,
    AndroidStudioIcon,
    Printer3dIcon,
    VsCodeIcon,
    SolderIcon,
    UltimakerCuraIcon,
} from "../../assets/icons.jsx";

import { Border2 } from "../../assets/borders.tsx";

let icon_size = 50;
---

<div class="about-me-item-container">
    <div class="text-slate-100 text-2xl font-bold mb-2 mr-2">
        技能樹<hr/>
    </div>

    <div class="text-slate-100 relative h-86" style="z-index: 2;">
        <div id="android-studio" class="skill-tree-item" style="top: 10%; left: 36%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="Android 應用開發">
                    <AndroidStudioIcon className="icon" />
                    <b class="icon-text">Android Studio</b>
                </div>
            </div>
        </div>

        <div id="painting" class="skill-tree-item" style="top: 22%; left: 60%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="手繪">
                    <PencilIcon className="icon" />
                    <b class="icon-text">Painting</b>
                </div>
            </div>
        </div>

        <div id="blender" class="skill-tree-item" style="top: 33%; left: 20%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="3D 建模">
                    <BlenderIcon className="icon" />
                    <b class="icon-text">Blender</b>
                </div>
            </div>
        </div>

        <div id="solder" class="skill-tree-item" style="top: 45%; left: 78%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="焊接">
                    <SolderIcon className="icon" />
                    <b class="icon-text">Solder</b>
                </div>
            </div>
        </div>

        <div id="git" class="skill-tree-item" style="top: 45%; left: 47%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="版本控制">
                    <GitIcon className="icon" />
                    <b class="icon-text">Git</b>
                </div>
            </div>
        </div>

        <div id="easy-eda" class="skill-tree-item" style="top: 77%; left: 75%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="PCB Layout">
                    <EasyEdaIcon className="icon" />
                    <b class="icon-text">Easy EDA</b>
                </div>
            </div>
        </div>

        <div id="astro" class="skill-tree-item" style="top: 81%; left: 55%;">
            <div class="et-zoom-in">
                <Border2/>

                <div class="icon-container" balloon-data="前端框架">
                    <AstroIcon className="icon" />
                    <b class="icon-text">Astro</b>
                </div>
            </div>
        </div>

        <div id="printer-3d" class="skill-tree-item" style="top: 78%; left: 26%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="3D 列印">
                    <Printer3dIcon className="icon" />
                    <b class="icon-text">3D Print</b>
                </div>
            </div>
        </div>

        <div id="vs-code" class="skill-tree-item" style="top: 65%; left: 39%;">
            <div class="et-zoom-in">
                <Border2/>

                <div class="icon-container" balloon-data="功能強大的 IDE">
                    <VsCodeIcon className="icon" />
                    <b class="icon-text">VS Code</b>
                </div>
            </div>
        </div>

        <div id="ultimaker-cura" class="skill-tree-item" style="top: 60%; left: 9%;">
            <div class="et-zoom-in">
                <Border2/>
            
                <div class="icon-container" balloon-data="切片工具">
                    <UltimakerCuraIcon className="icon" />
                    <b class="icon-text">Ultimaker Cura</b>
                </div>
            </div>
        </div>

        <svg id="lines" class="absolute top-0 left-0 w-full h-full pointer-events-none" style="z-index: -1;"></svg>
    </div>

    <div class="text-center block" style="width: 92%; font-size: 14px;">
        <b style="font-size: 18px;">[ 技能擴展中... ]</b><br>
        (React | Next.js | STM32CubeIDE)
    </div>

    <div class="skill-describe block lg:flex">
        <ul class="ml-auto mr-auto ">
            <li><b class="et-zoom-in">Blender：</b><span class="et-zoom-in text-slate-400">✓ 建模，✗ 不會shader，動畫只會一點</span></li>
            <li><b class="et-zoom-in">Ultimaker Cura：</b><span class="et-zoom-in text-slate-400">3D 模型切片</span></li>
            <li><b class="et-zoom-in">3D Print：</b><span class="et-zoom-in text-slate-400">使用過 PLA、POM 材質</span></li>
            <br>
            <li><b class="et-zoom-in">Git：</b><span class="et-zoom-in text-slate-400">版本控制工具，雖然我只會基礎的指令</span></li>
            <li><b class="et-zoom-in">VS Code：</b><span class="et-zoom-in text-slate-400">我最喜歡，也最常用的 IDE</span></li>
            <li><b class="et-zoom-in">Android Studio：</b><span class="et-zoom-in text-slate-400">Android 應用程式開發</span></li>
            <li><b class="et-zoom-in">Astro：</b><span class="et-zoom-in text-slate-400">前端框架，這個網頁就是 Astro 做的</span></li>
        </ul>
        <br>

        <ul class="ml-auto mr-auto">
            <li><b class="et-zoom-in">Easy EDA：</b><span class="et-zoom-in text-slate-400">PCB Layout，目前只畫過 2 層的板子</span></li>
            <li><b class="et-zoom-in">焊接：</b><span class="et-zoom-in text-slate-400">烙鐵×吹焊機，能焊 0402、QFN 等小型封裝</span></li>
            <br>
            <li><b class="et-zoom-in">手繪：</b><span class="et-zoom-in text-slate-400">素描、色鉛筆</span></li>
        </ul>
    </div>

</div>

<script>
    const connections = 
    [
        ["android-studio", "git"],
        ["vs-code", "git"],
        ["solder", "easy-eda"],
        ["astro", "vs-code"],
        ["blender", "painting"],
        ["blender", "printer-3d"],
        ["blender", "ultimaker-cura"],
        ["printer-3d", "ultimaker-cura"],
        ["blender", "git"],
        ["git", "easy-eda"],
        ["painting", "easy-eda"],
        ["painting", "android-studio"],
        ["painting", "astro"],
    ];

    function connectAll()
    {
        const svg = document.getElementById("lines") as SVGSVGElement | null;
        if (!svg) return;

        svg.innerHTML = "";
        const svgRect = svg.getBoundingClientRect();

        connections.forEach( ([id1, id2]) => {
            const obj1 = document.getElementById(id1)?.getBoundingClientRect();
            const obj2 = document.getElementById(id2)?.getBoundingClientRect();

            if (!obj1 || !obj2) return;

            const x1 = obj1.left + obj1.width/2  - svgRect.left;
            const y1 = obj1.top  + obj1.height/2 - svgRect.top;
            const x2 = obj2.left + obj2.width/2  - svgRect.left;
            const y2 = obj2.top  + obj2.height/2 - svgRect.top;

            const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
            line.setAttribute("x1", x1.toString());
            line.setAttribute("y1", y1.toString());
            line.setAttribute("x2", x2.toString());
            line.setAttribute("y2", y2.toString());
            line.setAttribute("stroke", "white");
            line.setAttribute("storke-width", "2px");

            svg?.appendChild(line);

        });
    }

    connectAll();
    window.addEventListener("resize", connectAll);

    
</script>
