---
import Layout from "../layouts/Layout.astro"
import MainNavigation from "../components/MainNavigation.astro"

import "../styles/global.css";
import "../styles/blog.css"
---

<Layout>
    <div class="background"></div>
    <MainNavigation/>

    <div class="blog-container">
        <h1>a</h1>
    </div>

</Layout>
