---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";

import { Border1 } from "../assets/borders.tsx"
---

<Layout>
    <div class="scanlines"></div>
    <div class="background"></div>
	<div class="background-grid"></div>
    <MainNavigation/>
    
    <div class="w-full h-[82%] overflow-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-8 gap-x-16 px-12 py-2 mt-16">
        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">小一</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">一個喜歡開發遊戲的人類</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://www.instagram.com/littleonechung/"><i class="fa-brands fa-instagram"></i></a>
                <a class="text-lg text-zinc-400 mx-1" href="https://vocus.cc/salon/littleone720"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
        
        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">su2u4</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">廢物一個</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://github.com/su2u4-1/"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    
        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">匿名用戶9487</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">被電神電爛的廢物</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400" href="https://qwo877.github.io/me/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">橘子</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">橘子喵</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://xn--gew.tw/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">伊藤有栖</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">競程邊角料</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://siewilly.github.io/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">PepperSauce</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">好想成為資安佬...</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://peppersauce0712.github.io/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">Small Z</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">Developer</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://www.yuzen.dev/zh-Hans"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">Justin</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">-</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://justin0711.com/"><i class="fa-solid fa-globe"></i></a>
                <a class="text-lg text-zinc-400 mx-1" href="https://github.com/him6794"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">伊藤喵貓</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">-</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://github.com/twcat0503"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">鴨鴨</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">我是一個小廢廢</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://ya-ya-12.github.io/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>

        <div class="relative w-full h-30">
            <Border1/>
            <h1 class="absolute top-4 left-4 text-2xl">淳</h1>
            <small class="absolute top-12 left-4 text-md text-zinc-400">群除我佬，我是肺霧</small>

            <div class="absolute bottom-2 right-4">
                <a class="text-lg text-zinc-400 mx-1" href="https://chuen666666.github.io/"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>
    </div>
    
    
</Layout>



