---
import MainNavigation from '../components/MainNavigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import profileImg from '../assets/profile_img.webp';

import "../styles/index.css";
---


<Layout> 
	<div class="background opacity-80"></div>

	<!-- <MainNavigation/> -->
	<div class="absolute top-0 w-full flex flex-row justify-between items-center px-4 py-2 z-999">
		<div class="flex flex-row font-bold text-white">
			<h4 class="text-xl">ICRACK's Blog</h4>
		</div>

		<div class="hidden md:flex flex-row gap-6 text-white text-xl px-4">
            <a href="/icrack41-blog/about">About</a>
            <a href="/icrack41-blog/cpp_note/dt_preface">Notes</a>
            <a href="/icrack41-blog/projects">Projects</a>
            <a href="/icrack41-blog/posts">Posts</a>
		</div>

		<div class="block md:hidden px-2">
			<i class="fa-solid fa-bars"></i>
		</div>
	</div>

	<div class="absolute top-10 sm:top-[12%] left-[-20%] h-[68%] w-[140%] flex">
		<div id="logo-anim" class="h-[500px] max-h-full m-auto"></div>
	</div>

	<div class="et-float-in absolute bottom-[30%] sm:bottom-[26%] left-[50%] translate-x-[-50%] w-full flex justify-center z-999">

		<div class="p-2 border-2 border-slate-500 border-r-0">
			<b class="h-full text-slate-500">去看看</b>
		</div>
		
		<button class="p-2 border-2 border-slate-200 text-slate-200 duration-200 hover:bg-slate-200 hover:text-slate-900" onclick="location.href='/icrack41-blog/about'">
			<b>更多內容 <i class="fa-solid fa-arrow-right"></i></b>
		</button>
		
	</div>

	<div class="absolute bottom-0 sm:bottom-2 left-[50%] sm:left-8 translate-x-[-50%] sm:translate-x-0">
		<p>2025 July</p>
	</div>

	<SocialLinks/>

	<!-- <div class="scroll-hint hidden sm:block">
		&lt;
		<i class="fa-solid fa-computer-mouse"></i>
		滾動滾輪 &gt;
	</div> -->
	
	<script>
		window.addEventListener('load', function () {
			lottie.loadAnimation({
				container: document.getElementById('logo-anim'),
				renderer: 'svg',
				loop: false,
				autoplay: true,
				path: '/icrack41-blog/lottie/icrack.json'
			});
		});
	</script>
	

</Layout>

