---
import MainNavigation from '../components/MainNavigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import profileImg from '../assets/profile_img.webp';

import "../styles/index.css";
---


<Layout> 
	<div class="background"></div>

	<MainNavigation/>

	<div class="profile-container flex-col sm:flex-row">
    
		<div class="ml-4 mr-4 mt-4">
			<Image class="profile-img" src={profileImg} alt="img"/>
		</div>
		
		<div class="text-white text-4xl font-bold text-center sm:text-left m-2">
			
			<b style="font-size: 2rem; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">small D</b><br>
	
			<b class="entering-text text-lg sm:text-xl text-slate-400 pt-2" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">
				走一步 看一步，
				實在不行死半路<br>
				日常崩潰 × 生活破防
			</b>
		</div>
	</div>

	<b class="absolute bottom-1 left-2">BG #AI圖</b>

	<SocialLinks/>

	<!-- <div class="scroll-hint hidden sm:block">
		&lt;
		<i class="fa-solid fa-computer-mouse"></i>
		滾動滾輪 &gt;
	</div> -->

</Layout>

