---
import MainNavigation from '../components/MainNavigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';
import Loading from "../components/Loading.astro";

---


<Layout> 
	<div class="background"></div>

	<MainNavigation/>
	<Profile/>
	<SocialLinks/>

	<!-- <div class="scroll-hint hidden sm:block">
		&lt;
		<i class="fa-solid fa-computer-mouse"></i>
		滾動滾輪 &gt;
	</div> -->
	<!-- <Loading/> -->
</Layout>

