---
import MainNavigation from '../components/MainNavigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import profileImg from '../assets/profile_img.webp';

import "../styles/index.css";
---


<Layout> 
	<!-- <div class="background"></div> -->

	<!-- <MainNavigation/> -->
	<div class="w-full flex flex-row justify-between items-center px-8 py-2">
		<div class="flex flex-row font-bold text-white">
			<h4 class="text-xl">ICRACK's Blog</h4>
		</div>

		<div class="flex flex-row gap-6 text-white text-xl">
            <a href="/icrack41-blog/about">About</a>
            <a href="/icrack41-blog/cpp_note/dt_preface">Notes</a>
            <a href="/icrack41-blog/projects">Projects</a>
            <a href="/icrack41-blog/posts">Posts</a>
		</div>
	</div>

	<div class="absolute top-0 left-0 w-full h-full flex">
		<div id="logo-anim" class="h-[500px] m-auto"></div>
	</div>

	<div class="absolute bottom-2 left-8">
		<p>2025 July</p>
	</div>

	<SocialLinks/>

	
	<script>
		window.addEventListener('load', function () {
			lottie.loadAnimation({
				container: document.getElementById('logo-anim'),
				renderer: 'svg',
				loop: false,
				autoplay: true,
				path: '/icrack41-blog/lottie/icrack.json'
			});
		});
	</script>
	<!-- <div class="scroll-hint hidden sm:block">
		&lt;
		<i class="fa-solid fa-computer-mouse"></i>
		滾動滾輪 &gt;
	</div> -->

</Layout>

