---
import React, { useRef } from "react";
import MainContent from "../components/MainContent.astro";
import MainNavigation from "../components/MainNavigation.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="background"></div>
	
    <div class="flex flex-col md:flex-row">
        <svg class="route" width="300px" height="300px" viewBox="0 0 200 200">

            <path fill="transparent" stroke="white" stroke-width="10" d="M38,233
                    C28,203 39,202 42,200
                    C52,196 60,190 65,180
                    C70,171 71,161 69,150
                    C68,147 65,144 62,141
                    C56,136 50,132 44,127
                    C40,123 39,118 42,113
                    C43,110 49,108 53,109
                    C56,110 59,111 61,113 
                    C70,117 79,117 88,115
                    C95,114 103,113 110,116
                    C115,117 118,114 118,109
                    C118,105 118,101 118,97
                    C118,94  116,92 114,90
                    C107,83 100,76 94,68
                    C87,56 68,42 115,11 "/>
        </svg>

		<style>
			svg{overflow: visible;}
		</style>
</Layout>

