---
import React, { useRef } from "react";
import MainContent from "../components/MainContent.astro";
import MainNavigation from "../components/MainNavigation.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="background"></div>

	<svg width="700px" height="400px" viewBox="0 0 700 400" style="position: absolute; bottom: 0; right: 0;">
		<rect x="0" y="0" width="700" height="400" fill="black"/>
	</svg>
</Layout>
