---
import React, { useRef } from "react";
import MainContent from "../components/MainContent.astro";
import MainNavigation from "../components/MainNavigation.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="background"></div>

	<Loading/>
</Layout>
