---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="background opacity-40"></div>
	<div class="background-grid opacity-40"></div>
    <MainNavigation/>

    <div class="mt-20 px-2">
        <a class="block my-4 text-center text-2xl text-white hover:text-cyan-300" href="/icrack41-blog/note/zj_ans">Zerojudge 題解</a>
        <a class="block my-4 text-center text-2xl text-white hover:text-cyan-300" href="/icrack41-blog/blog/digital_electronic">數位電子乙級</a>
        <a class="block my-4 text-center text-2xl text-white hover:text-cyan-300" href="/icrack41-blog/blog/professional_subjects_1">電機電子群-資電類-專一</a>
    </div>

</Layout>