---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/notes.css"

import BS from "../content/cpp_note/dt_binary_search.md"
---

<Layout>
    <div class="background"></div>
    <MainNavigation/>

    <div class="note-container">
        <BS/>
    </div>

    <button id="left-button">
		<h1 class="fa-solid fa-chevron-left"></h1>
	</button>

	<button id="right-button">
		<h1 class="fa-solid fa-chevron-right"></h1>
	</button>

</Layout>