---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/notes.css"
import "../styles/markdown.css"

import BS from "../content/cpp_notes/dt_binary_search.md"
---

<Layout>
    <div class="background"></div>
    <MainNavigation/>

    <div class="note-container">

        <BS/>
        
    </div>
</Layout>