---
import MainNavigation from "../components/MainNavigation.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/notes.css"
import "../styles/markdown.css"

import BS from "../content/cpp_note/dt_binary_search.md"
---

<Layout>
    <div class="background"></div>
    <MainNavigation/>

    <div class="note-container">
        <BS/>
    </div>

    <div class="menu">
        <h4>目錄</h4>
        <ul>
            <li><a href="">前言</a></li>
            <li><a href="">基礎 C++</a></li>
            <li><a href="">複雜度</a></li>
            <li><a href="">二分搜索</a></li>
            <li><a href="">圖論</a></li>
            <li><a href="">動態規劃</a></li>
        </ul>

        
        <input type="checkbox"></input><b>詳細</b>
        
        <h4 class="fa-solid fa-angles-right"></h4>
    </div>

    <button id="left-button">
		<h1 class="fa-solid fa-chevron-left"></h1>
	</button>

	<button id="right-button">
		<h1 class="fa-solid fa-chevron-right"></h1>
	</button>

</Layout>