---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import { Border1 } from "../assets/borders.tsx"

import "../styles/posts.css"
---


<Layout>
	<div class="background"></div>
	
	<MainNavigation/>

	<div class="post-container">

		<div class="post-tag-container">
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">教學</label>
	
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">廢話</label>
	
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">日常</label>
	
		</div>
	
		<div class="post" onclick="location.href='/icrack41-blog/blog/about_small'">
			<Border1/>

			<div class="text-container">
				<b class="post-title">關於 small 家族</b>

				<small class="post-description">
					在深夜閃爍的螢光幕前，鍵盤聲敲出一句句咒語。<br>
					在那些不被世人注意的 commit 記錄背後，流傳著一段被遺忘的傳說: 一個關於以「small」為名的詛咒血脈。<br>
					這不是神話，更不是玩笑 (嚴肅)，而是一個真真切切存在的故事。<br>
					<br>
					記錄者: Unknown
				</small>
			</div>
			
			<div class="post-img">
				<b style="font-size: 100px; display:block; text-align: center;">404</b>
				<b style="font-size: 40px; display:block; text-align: center;">page not found</b>
			</div>

		</div>

		<div class="post">
			<Border1/>
	
			<b style="font-size: 40px;">C++ IO 優化</b><br>
	
		</div>

		<div class="post">
			<Border1/>
	
			<b style="font-size: 40px;">解決 Commit 後才想起 LFS</b>
	
		</div>
	</div>

</Layout>
