---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import { Border1 } from "../assets/borders.tsx"

import "../styles/posts.css"
---


<Layout>
	<div class="background"></div>
	<div class="background-grid opacity-40"></div>
	
	<MainNavigation/>

	<div class="post-container">

		<div class="post-tag-container">
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">廢話</label>
	
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">日常</label>
		</div>
	
		<div class="post" onclick="location.href='/icrack41-blog/post/about_small_family'">
			<Border1/>
			<img class="post-img" src="/icrack41-blog/assets/post_img/about_small_family/page_not_find.webp" alt="">

			<div class="text-container">
				<b class="post-title">關於 small 家族</b>

				<small class="post-description">
					在深夜閃爍的螢光幕前，鍵盤聲敲出一句句咒語。<br>
					在那些不被世人注意的 commit 記錄背後，流傳著一段被遺忘的傳說: 一個關於以「small」為名的詛咒血脈。<br>
					這不是神話，更不是玩笑 (嚴肅)，而是一個真真切切存在的故事。<br>
					<br>
					記錄者: Unknown
				</small>
			</div>
		</div>

		<div class="post" onclick="location.href='/icrack41-blog/post/computex_2025'">
			<Border1/>
			<img class="post-img" src="/icrack41-blog/assets/post_img/computex_2025/computex_2025.webp" alt="">

			<div class="text-container">
				<b class="post-title">COMPUTEX 2025</b>

				<small class="post-description">
					雖說是電腦展，但我好像不是去看電腦的 (?<br>
					只是到處逛逛，看到了些有趣的東東
				</small>
			</div>
		</div>

	</div>

</Layout>
