---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import { Border1 } from "../assets/borders.tsx"

import "../styles/my_posts.css"
---


<Layout>
	<div class="background"></div>
	
	<MainNavigation/>

	<div class="post-container">

		<div class="post-tag-container">
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">教學</label>
	
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">廢話</label>
	
			<input id="tag-tutorial" type="checkbox">
			<label for="tag-tutorial" class="post-tag">日常</label>
	
		</div>
	
		<div class="post" onclick="location.href='/icrack41-blog/blog/about_small'">
			<Border1/>
	
			<b style="font-size: 40px;">關於 small 家族</b>
			
		</div>

		<div class="post">
			<Border1/>
	
			<b style="font-size: 40px;">C++ IO 優化</b><br>
	
		</div>

		<div class="post">
			<Border1/>
	
			<b style="font-size: 40px;">解決 Commit 後才想起 LFS</b>
	
		</div>
	</div>

</Layout>
