---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import { Border1 } from "../assets/borders.tsx"

import "../styles/projects.css"
---


<Layout>
	<div class="background"></div>
	
	<MainNavigation/>

	<div class="project-container">

		<div class="search-bar">
			<i class="fa-solid fa-magnifying-glass"></i>
			<textarea name="a"  cols="5" rows="1"></textarea>
		</div>
		
	
		<div id="project-view" class="project-view">
	
			<div class="project" onclick="location.href='/icrack41-blog/project/my_paintings'">
				<Border1/>
		
				<img class="project-img" src="/icrack41-blog/assets/project_img/my_paintings/title_img.png" alt="">
				<b class="title">畫集</b><br>
				<small>色鉛筆 & 素描</small>
			</div>
				
			<div class="project" onclick="location.href='/icrack41-blog/project/portable_power_supply'">
		
				<Border1/>
		
				<img class="project-img" src="/icrack41-blog/assets/project_img/portable_power_supply/title_img.png" alt="">
				<b class="title">隨身電供</b><br>
				<small>DC2DC 5~12V</small>
				
			</div>
		
			<div class="project">
		
				<Border1/>
		
				<img class="project-img" src="" alt="...">
				<b class="title">動漫角色建模</b><br>
				<small>Blender 3D建模</small>
			</div>
		
			<div class="project" onclick="location.href='/icrack41-blog/project/drone'">
		
				<Border1/>
		
				<img class="project-img" src="" alt="...">
				<b class="title">無人機</b><br>
				<small>就...無人機</small>
			</div>
		
			<div class="project" onclick="location.href='/icrack41-blog/project/synaptix'">
		
				<Border1/>
		
				<img class="project-img" src="" alt="...">
				<b class="title">synaptix</b><br>
				<small>代碼編輯器</small>
			</div>
		
			<div class="project" onclick="location.href='/icrack41-blog/project/vmusic'">
		
				<Border1/>
		
				<img class="project-img" src="" alt="...">
				<b class="title">VMusic</b><br>
				<small>Android 音樂撥放器</small>
			</div>
			
		</div>
	</div>

	<button id="left-button">
		<h1 class="fa-solid fa-chevron-left"></h1>
	</button>

	<button id="right-button">
		<h1 class="fa-solid fa-chevron-right"></h1>
	</button>
	
	<script src="../scripts/projects_loop_scroll.js"></script>
</Layout>
