---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import "../styles/index.css";
---


<Layout>
    <div class="background opacity-80"></div>
    <div class="background-grid opacity-40"></div>
    
    <MainNavigation/>

    <div class="w-full h-[84%] mt-16 px-6 justify-center items-center overflow-y-auto">
        <h1 class="text-2xl mb-4">Zerojudge 題解</h1>

        <h2 class="text-xl text-zinc-400 mb-4"># 基礎題庫 <small class="text-sm ml-2">( 58 / 718 )</small></h2>

        <a href="/icrack41-blog/blog/a001">a001</a>
        <a href="/icrack41-blog/blog/a002">a002</a>
        <a href="/icrack41-blog/blog/a003">a003</a>
        <a href="/icrack41-blog/blog/a004">a004</a>
        <a href="/icrack41-blog/blog/a005">a005</a>
        <a href="/icrack41-blog/blog/a006">a006</a>
        <a href="/icrack41-blog/blog/a009">a009</a>
        <a href="/icrack41-blog/blog/a010">a010</a>
        <a href="/icrack41-blog/blog/a013">a013</a>
        <a href="/icrack41-blog/blog/a015">a015</a>
        <a href="/icrack41-blog/blog/a017">a017</a>
        <a href="/icrack41-blog/blog/a020">a020</a>
        <a href="/icrack41-blog/blog/a021">a021</a>
        <a href="/icrack41-blog/blog/a022">a022</a>
        <a href="/icrack41-blog/blog/a024">a024</a>
        <a href="/icrack41-blog/blog/a034">a034</a>
        <a href="/icrack41-blog/blog/a038">a038</a>
        <a href="/icrack41-blog/blog/a040">a040</a>
        <a href="/icrack41-blog/blog/a042">a042</a>
        <a href="/icrack41-blog/blog/a044">a044</a>
        <a href="/icrack41-blog/blog/a053">a053</a>
        <a href="/icrack41-blog/blog/a054">a054</a>
        <a href="/icrack41-blog/blog/a058">a058</a>
        <a href="/icrack41-blog/blog/a059">a059</a>
        <a href="/icrack41-blog/blog/a065">a065</a>
        <a href="/icrack41-blog/blog/a095">a095</a>
        <a href="/icrack41-blog/blog/a104">a104</a>
        <a href="/icrack41-blog/blog/a121">a121</a>
        <a href="/icrack41-blog/blog/a147">a147</a>
        <a href="/icrack41-blog/blog/a148">a148</a>
        <a href="/icrack41-blog/blog/a149">a149</a>
        <a href="/icrack41-blog/blog/a215">a215</a>
        <a href="/icrack41-blog/blog/a216">a216</a>
        <a href="/icrack41-blog/blog/a224">a224</a>
        <a href="/icrack41-blog/blog/a225">a225</a>
        <a href="/icrack41-blog/blog/a229">a229</a>
        <a href="/icrack41-blog/blog/a244">a244</a>
        <a href="/icrack41-blog/blog/a248">a248</a>
        <a href="/icrack41-blog/blog/a263">a263</a>
        <a href="/icrack41-blog/blog/a271">a271</a>
        <a href="/icrack41-blog/blog/a291">a291</a>
        <a href="/icrack41-blog/blog/a410">a410</a>
        <a href="/icrack41-blog/blog/a414">a414</a>
        <a href="/icrack41-blog/blog/a417">a417</a>
        <a href="/icrack41-blog/blog/a524">a524</a>
        <a href="/icrack41-blog/blog/a528">a528</a>
        <a href="/icrack41-blog/blog/a647">a647</a>
        <a href="/icrack41-blog/blog/a693">a693</a>
        <a href="/icrack41-blog/blog/a694">a694</a>
        <a href="/icrack41-blog/blog/a738">a738</a>
        <a href="/icrack41-blog/blog/a740">a740</a>
        <a href="/icrack41-blog/blog/a746">a746</a>
        <a href="/icrack41-blog/blog/a799">a799</a>
        <a href="/icrack41-blog/blog/a915">a915</a>
        <a href="/icrack41-blog/blog/a981">a981</a>
        <a href="/icrack41-blog/blog/a982">a982</a>
        <a href="/icrack41-blog/blog/b265">b265</a>
        <a href="/icrack41-blog/blog/b294">b294</a>
        <a href="/icrack41-blog/blog/b367">b367</a>
        <a href="/icrack41-blog/blog/b373">b373</a>
        <a href="/icrack41-blog/blog/b374">b374</a>
        <a href="/icrack41-blog/blog/b510">b510</a>
        <a href="/icrack41-blog/blog/b511">b511</a>
        <a href="/icrack41-blog/blog/b512">b512</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b537">b537</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b538">b538</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b557">b557</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b558">b558</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b572">b572</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b592">b592</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b593">b593</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b594">b594</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b595">b595</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b603">b603</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b604">b604</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b605">b605</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b607">b607</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b680">b680</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b701">b701</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b757">b757</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b758">b758</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b759">b759</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b762">b762</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b836">b836</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b860">b860</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b877">b877</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b884">b884</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b893">b893</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b897">b897</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b911">b911</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b923">b923</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b924">b924</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b936">b936</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b938">b938</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b944">b944</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b969">b969</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b970">b970</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b971">b971</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b981">b981</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b982">b982</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c148">c148</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c149">c149</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c152">c152</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c184">c184</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c185">c185</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c186">c186</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c188">c188</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c221">c221</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c258">c258</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c260">c260</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c265">c265</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c268">c268</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c269">c269</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c276">c276</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c315">c315</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c316">c316</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c317">c317</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c318">c318</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c350">c350</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c356">c356</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c364">c364</a>
        <a href="/icrack41-blog/blog/c379">c379</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c381">c381</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c382">c382</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c418">c418</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c419">c419</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c420">c420</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c431">c431</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c435">c435</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c440">c440</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c488">c488</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c508">c508</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c547">c547</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c548">c548</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c560">c560</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c561">c561</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c562">c562</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c572">c572</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c618">c618</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c636">c636</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c638">c638</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c643">c643</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c657">c657</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c658">c658</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c659">c659</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c665">c665</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c669">c669</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c700">c700</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c716">c716</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c700">c700</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c716">c716</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c717">c717</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c726">c726</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c760">c760</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c782">c782</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c807">c807</a>
        <a class="text-red-500" href="/icrack41-blog/blog/c929">c929</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d010">d010</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d018">d018</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d049">d049</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d050">d050</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d051">d051</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d058">d058</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d060">d060</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d063">d063</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d064">d064</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d065">d065</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d066">d066</a>
        <a href="/icrack41-blog/blog/d067">d067</a>
        <a href="/icrack41-blog/blog/d068">d068</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d069">d069</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d070">d070</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d071">d071</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d072">d072</a>
        <a href="/icrack41-blog/blog/d073">d073</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d074">d074</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d086">d086</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d098">d098</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d115">d115</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d119">d119</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d122">d122</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d124">d124</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d166">d166</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d212">d212</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d244">d244</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d277">d277</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d299">d299</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d326">d326</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d392">d392</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d460">d460</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d461">d461</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d471">d471</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d478">d478</a>
        <a href="/icrack41-blog/blog/d483">d483</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d485">d485</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d489">d489</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d490">d490</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d491">d491</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d498">d498</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d507">d507</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d511">d511</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d526">d526</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d527">d527</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d532">d532</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d550">d550</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d555">d555</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d559">d559</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d561">d561</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d562">d562</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d563">d563</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d566">d566</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d570">d570</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d573">d573</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d574">d574</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d575">d575</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d583">d583</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d584">d584</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d586">d586</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d587">d587</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d623">d623</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d626">d626</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d634">d634</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d636">d636</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d637">d637</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d639">d639</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d643">d643</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d649">d649</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d681">d681</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d693">d693</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d710">d710</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d732">d732</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d827">d827</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d881">d881</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d984">d984</a>
        <a class="text-red-500" href="/icrack41-blog/blog/d985">d985</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e024">e024</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e051">e051</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e128">e128</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e156">e156</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e189">e189</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e217">e217</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e253">e253</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e272">e272</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e273">e273</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e284">e284</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e293">e293</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e295">e295</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e305">e305</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e307">e307</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e319">e319</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e326">e326</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e339">e339</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e340">e340</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e343">e343</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e345">e345</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e346">e346</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e348">e348</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e351">e351</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e357">e357</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e358">e358</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e359">e359</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e367">e367</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e368">e368</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e378">e378</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e386">e386</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e387">e387</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e389">e389</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e390">e390</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e391">e391</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e392">e392</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e394">e394</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e417">e417</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e420">e420</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e421">e421</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e431">e431</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e446">e446</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e447">e447</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e456">e456</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e465">e465</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e470">e470</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e484">e484</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e494">e494</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e509">e509</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e598">e598</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e604">e604</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e621">e621</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e622">e622</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e623">e623</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e698">e698</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e700">e700</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e780">e780</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e856">e856</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e902">e902</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e908">e908</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e926">e926</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e970">e970</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e972">e972</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e976">e976</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e984">e984</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e990">e990</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e995">e995</a>
        <a class="text-red-500" href="/icrack41-blog/blog/e997">e997</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f008">f008</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f010">f010</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f011">f011</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f012">f012</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f013">f013</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f017">f017</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f026">f026</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f027">f027</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f033">f033</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f035">f035</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f043">f043</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f044">f044</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f045">f045</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f046">f046</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f047">f047</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f063">f063</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f070">f070</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f071">f071</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f072">f072</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f073">f073</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f084">f084</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f103">f103</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f105">f105</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f145">f145</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f147">f147</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f148">f148</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f149">f149</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f152">f152</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f164">f164</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f165">f165</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f255">f255</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f256">f256</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f257">f257</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f259">f259</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f260">f260</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f277">f277</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f281">f281</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f282">f282</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f290">f290</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f291">f291</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f302">f302</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f327">f327</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f332">f332</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f345">f345</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f348">f348</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f351">f351</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f360">f360</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f362">f362</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f368">f368</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f369">f369</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f372">f372</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f376">f376</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f377">f377</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f384">f384</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f408">f408</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f410">f410</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f416">f416</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f418">f418</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f432">f432</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f449">f449</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f455">f455</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f493">f493</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f498">f498</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f510">f510</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f583">f583</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f586">f586</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f587">f587</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f588">f588</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f626">f626</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f631">f631</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f632">f632</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f633">f633</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f634">f634</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f636">f636</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f640">f640</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f646">f646</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f647">f647</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f648">f648</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f649">f649</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f649">f651</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f649">f680</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f698">f698</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f699">f699</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f700">f700</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f701">f701</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f716">f716</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f717">f717</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f731">f731</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f754">f754</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f775">f775</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f776">f776</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f787">f787</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f790">f790</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f803">f803</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f821">f821</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f822">f822</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f824">f824</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f835">f835</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f864">f864</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f866">f866</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f869">f869</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f870">f870</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f874">f874</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f884">f884</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f885">f885</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f890">f890</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f925">f925</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f928">f928</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f929">f929</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f934">f934</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f935">f935</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f937">f937</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f941">f941</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f971">f971</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f973">f973</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f974">f974</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f975">f975</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f976">f976</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f977">f977</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f978">f978</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f979">f979</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f980">f980</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f981">f981</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f982">f982</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f983">f983</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f985">f985</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f988">f988</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f989">f989</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f990">f990</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f991">f991</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f992">f992</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f993">f993</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f994">f994</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f995">f995</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f996">f996</a>
        <a class="text-red-500" href="/icrack41-blog/blog/f999">f999</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g012">g012</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g047">g047</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g051">g051</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g056">g056</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g088">g088</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g212">g212</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g216">g216</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g217">g217</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g220">g220</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g256">g256</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g297">g297</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g307">g307</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g308">g308</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g309">g309</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g310">g310</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g353">g353</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g384">g384</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g420">g420</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g421">g421</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g422">g422</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g424">g424</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g488">g488</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g489">g489</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g499">g499</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g623">g623</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g640">g640</a>
        <a class="text-red-500" href="/icrack41-blog/blog/g779">g779</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h038">h038</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h075">h075</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h089">h089</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h090">h090</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h097">h097</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h098">h098</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h162">h162</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h181">h181</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h206">h206</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h213">h213</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h215">h215</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h280">h280</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h291">h291</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h318">h318</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h319">h319</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h495">h495</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h540">h540</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h572">h572</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h631">h631</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h832">h832</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h839">h839</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h862">h862</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h900">h900</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h901">h901</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h924">h924</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h925">h925</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h927">h927</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h936">h936</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h988">h988</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h989">h989</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h990">h990</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h991">h991</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h992">h992</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h993">h993</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h995">h995</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h996">h996</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h997">h997</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h998">h998</a>
        <a class="text-red-500" href="/icrack41-blog/blog/h999">h999</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i001">i001</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i002">i002</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i025">i025</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i121">i121</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i158">i158</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i177">i177</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i178">i178</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i179">i179</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i207">i207</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i212">i212</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i213">i213</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i227">i227</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i228">i228</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i229">i229</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i230">i230</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i231">i231</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i232">i232</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i233">i233</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i234">i234</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i235">i235</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i239">i239</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i253">i253</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i322">i322</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i341">i341</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i343">i343</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i370">i370</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i510">i510</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i531">i531</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i619">i619</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i629">i629</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i644">i644</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i645">i645</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i646">i646</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i689">i689</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i706">i706</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i711">i711</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i722">i722</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i751">i751</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i762">i762</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i821">i821</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i832">i832</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i840">i840</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i861">i861</a>
        <a class="text-red-500" href="/icrack41-blog/blog/i963">i963</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j007">j007</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j008">j008</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j060">j060</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j126">j126</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j136">j136</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j168">j168</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j186">j186</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j224">j224</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j227">j227</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j234">j234</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j250">j250</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j258">j258</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j273">j273</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j329">j329</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j332">j332</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j362">j362</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j412">j412</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j540">j540</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j568">j568</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j569">j569</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j777">j777</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j851">j851</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j909">j909</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j922">j922</a>
        <a class="text-red-500" href="/icrack41-blog/blog/j940">j940</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k026">k026</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k076">k076</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k081">k081</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k137">k137</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k145">k145</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k152">k152</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k175">k175</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k181">k181</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k182">k182</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k194">k194</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k200">k200</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k205">k205</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k257">k257</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k301">k301</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k320">k320</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k373">k373</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k376">k376</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k391">k391</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k392">k392</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k397">k397</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k398">k398</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k399">k399</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k402">k402</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k413">k413</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k414">k414</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k475">k475</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k512">k512</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k550">k550</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k554">k554</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k556">k556</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k561">k561</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k594">k594</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k601">k601</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k605">k605</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k613">k613</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k615">k615</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k621">k621</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k622">k622</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k623">k623</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k627">k627</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k628">k628</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k629">k629</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k630">k630</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k631">k631</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k632">k632</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k645">k645</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k647">k647</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k678">k678</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k680">k680</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k689">k689</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k690">k690</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k691">k691</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k703">k703</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k707">k707</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k721">k721</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k722">k722</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k724">k724</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k740">k740</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k799">k799</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k800">k800</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k862">k862</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k863">k863</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k879">k879</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k914">k914</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k950">k950</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k954">k954</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k990">k990</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k991">k991</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k992">k992</a>
        <a class="text-red-500" href="/icrack41-blog/blog/k993">k993</a>
        <a class="text-red-500" href="/icrack41-blog/blog/l072">l072</a>
        <a class="text-red-500" href="/icrack41-blog/blog/l179">l179</a>
        <a class="text-red-500" href="/icrack41-blog/blog/l253">l253</a>
        <a class="text-red-500" href="/icrack41-blog/blog/l254">l254</a>
        <a class="text-red-500" href="/icrack41-blog/blog/l255">l255</a>
        <a href="/icrack41-blog/blog/l960">l960</a>
        <a class="text-red-500" href="/icrack41-blog/blog/m283">m283</a>
        <a class="text-red-500" href="/icrack41-blog/blog/m685">m685</a>
        <a class="text-red-500" href="/icrack41-blog/blog/m702">m702</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n083">n083</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n211">n211</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n212">n212</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n213">n213</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n240">n240</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n262">n262</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n327">n327</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n508">n508</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n582">n582</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n616">n616</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n618">n618</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n619">n619</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n620">n620</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n621">n621</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n686">n686</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n687">n687</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n688">n688</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n689">n689</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n698">n698</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n700">n700</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n763">n763</a>
        <a class="text-red-500" href="/icrack41-blog/blog/n836">n836</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o058">o058</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o067">o067</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o087">o087</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o168">o168</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o182">o182</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o188">o188</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o254">o254</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o337">o337</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o339">o339</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o340">o340</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o344">o344</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o361">o361</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o365">o365</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o376">o376</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o686">o686</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o705">o705</a>
        <a class="text-red-500" href="/icrack41-blog/blog/o773">o773</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p011">p011</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p012">p012</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p013">p013</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p014">p014</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p015">p015</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p016">p016</a>
        <a class="text-red-500" href="/icrack41-blog/blog/p500">p500</a>
        <a href="/icrack41-blog/blog/q001">q001</a>
        <a href="/icrack41-blog/blog/q026">q026</a>
        <a href="/icrack41-blog/blog/q027">q027</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q052">q052</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q053">q053</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q063">q063</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q082">q082</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q089">q089</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q851">q851</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q853">q853</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q859">q859</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q860">q860</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q868">q868</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q869">q869</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q870">q870</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q877">q877</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q879">q879</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q881">q881</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q889">q889</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q896">q896</a>
        <a class="text-red-500" href="/icrack41-blog/blog/q960">q960</a>
        <a class="text-red-500" href="/icrack41-blog/blog/r001">r001</a>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 競賽題庫 <small class="text-sm ml-2">( 0 / 498 )</small></h2>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># IOI/APCS <small class="text-sm ml-2">( 0 / 650 )</small></h2>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># UVa 題庫 <small class="text-sm ml-2">( 3 / 621 )</small></h2>

        <a href="/icrack41-blog/blog/a223">a223</a>
        <a href="/icrack41-blog/blog/a518">a518</a>
        <a href="/icrack41-blog/blog/d111">d111</a>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 原創/不分類題庫 <small class="text-sm ml-2">( 0 / 967 )</small></h2>
    </div>
    
</Layout>

<style>
    a {
        display: inline-block;
        width: 3rem;
        text-align: center;
    }

    a:hover{
        color: #51a2ff;
    }
</style>

