---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';

import "../styles/index.css";
---


<Layout> 
	<div class="background opacity-80"></div>
    <div class="background-grid opacity-40"></div>
	
    <MainNavigation/>

    <div class="w-full h-[84%] mt-16 px-6 justify-center items-center overflow-y-auto">
        <h1 class="text-2xl mb-4">Zerojudge 題解</h1>
        <h2 class="text-xl text-zinc-400 mb-4"># 基礎題庫</h2>

        <a href="/icrack41-blog/blog/a001">a001</a>
        <a href="/icrack41-blog/blog/a002">a002</a>
        <a href="/icrack41-blog/blog/a003">a003</a>
        <a href="/icrack41-blog/blog/a004">a004</a>
        <a href="/icrack41-blog/blog/a005">a005</a>
        <a href="/icrack41-blog/blog/a006">a006</a>
        <a href="/icrack41-blog/blog/a009">a009</a>
        <a href="/icrack41-blog/blog/a010">a010</a>
        <a href="/icrack41-blog/blog/a013">a013</a>
        <a href="/icrack41-blog/blog/a015">a015</a>
        <a href="/icrack41-blog/blog/a017">a017</a>
        <a href="/icrack41-blog/blog/a020">a020</a>
        <a href="/icrack41-blog/blog/a021">a021</a>
        <a href="/icrack41-blog/blog/a022">a022</a>
        <a href="/icrack41-blog/blog/a024">a024</a>
        <a href="/icrack41-blog/blog/a034">a034</a>
        <a href="/icrack41-blog/blog/a038">a038</a>
        <a href="/icrack41-blog/blog/a040">a040</a>
        <a href="/icrack41-blog/blog/a042">a042</a>
        <a href="/icrack41-blog/blog/a044">a044</a>
        <a href="/icrack41-blog/blog/a053">a053</a>
        <a href="/icrack41-blog/blog/a054">a054</a>
        <a href="/icrack41-blog/blog/a058">a058</a>
        <a href="/icrack41-blog/blog/a059">a059</a>
        <a href="/icrack41-blog/blog/a065">a065</a>
        <a href="/icrack41-blog/blog/a095">a095</a>
        <a href="/icrack41-blog/blog/a104">a104</a>
        <a href="/icrack41-blog/blog/a121">a121</a>
        <a href="/icrack41-blog/blog/a147">a147</a>
        <a href="/icrack41-blog/blog/a148">a148</a>
        <a href="/icrack41-blog/blog/a149">a149</a>
        <a href="/icrack41-blog/blog/a215">a215</a>
        <a href="/icrack41-blog/blog/a216">a216</a>
        <a href="/icrack41-blog/blog/a224">a224</a>
        <a href="/icrack41-blog/blog/a225">a225</a>
        <a href="/icrack41-blog/blog/a229">a229</a>
        <a href="/icrack41-blog/blog/a244">a244</a>
        <a href="/icrack41-blog/blog/a248">a248</a>
        <a href="/icrack41-blog/blog/a263">a263</a>
        <a href="/icrack41-blog/blog/a271">a271</a>
        <a href="/icrack41-blog/blog/a291">a291</a>
        <a href="/icrack41-blog/blog/a410">a410</a>
        <a href="/icrack41-blog/blog/a414">a414</a>
        <a href="/icrack41-blog/blog/a417">a417</a>
        <a href="/icrack41-blog/blog/a524">a524</a>
        <a href="/icrack41-blog/blog/a528">a528</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a647">a647</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a693">a693</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a694">a694</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a738">a738</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a740">a740</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a746">a746</a>
        <a href="/icrack41-blog/blog/a799">a799</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a915">a915</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a981">a981</a>
        <a class="text-red-500" href="/icrack41-blog/blog/a982">a982</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b265">b265</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b294">b294</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b367">b367</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b373">b373</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b374">b374</a>
        <a href="/icrack41-blog/blog/b510">b510</a>
        <a href="/icrack41-blog/blog/b511">b511</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b374">b512</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b537">b537</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b538">b538</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b557">b557</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b558">b558</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b572">b572</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b592">b592</a>
        <a class="text-red-500" href="/icrack41-blog/blog/b593">b593</a>

        <a href="/icrack41-blog/blog/c379">c379</a>


        <a href="/icrack41-blog/blog/d067">d067</a>
        <a href="/icrack41-blog/blog/d068">d068</a>
        <a href="/icrack41-blog/blog/d073">d073</a>
        <a href="/icrack41-blog/blog/d483">d483</a>

        <a href="/icrack41-blog/blog/l960">l960</a>

        <a href="/icrack41-blog/blog/q001">q001</a>
        <a href="/icrack41-blog/blog/q026">q026</a>
        <a href="/icrack41-blog/blog/q027">q027</a>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 競賽題庫</h2>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># IOI/APCS</h2>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># UVa 題庫</h2>

        <a href="/icrack41-blog/blog/a223">a223</a>
        <a href="/icrack41-blog/blog/a518">a518</a>
        <a href="/icrack41-blog/blog/d111">d111</a>


        <hr class="my-8 text-zinc-600">
        <h2 class="text-xl text-zinc-400 mb-4"># 原創/不分類題庫</h2>
    </div>
    
</Layout>

<style>
    a {
        display: inline-block;
        width: 3rem;
    }

    a:hover{
        color: #51a2ff;
    }
</style>

