---
import MainNavigation from "../../components/MainNavigation.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout>
    <MainNavigation/>

    <div class="absolute top-0 w-full h-full overflow-y-auto">

        <div class="parallax p1">
            <b class="computex">COMPUTEX 2025</b>
        </div>

        <div class="context">
            <span>
                <b style="font-size: 26px;">9:30 </b>
                <b class="text-blue-400" style="font-size: 26px;">COMPUTEX-進場</b>
                <br><br>

                懷著愉快的心情 <del>(可能比較多是不用上課的緣故)</del><br>
                準時進了 COMPUTEX 會場<br>
                <br>
                這裡各式各樣的展品很多<br>
                記憶體有些不夠用 (看來我腦袋的計量單位應該只有 KB)<br>
                實在記不住全部的細節<br>
                所以這裡放的是些我印象特別深刻的展品<br>
                這些大概都是一些比較有創新的東西<br>
                我比較感興趣<br>
                <br>
                至於 AI 的部分就比較沒有<br>
                都是些影像辨識之類的 (雖然各家都有各自的特色)<br>
            </span>
        </div>

        <div class="parallax p3">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">眼鏡 × 無限耳機</b>
                <br><br>
                當眼鏡結合了藍芽耳機：<br>
                由於後端多了重量<br>
                眼鏡也比較不會一直壓著鼻樑<br>
                雖人不像耳機直接塞在耳朵裡
                但除非別人貼在你臉上，否則幾乎聽不到聲音<br>
                <br>
                (他們有電池上的結構專利)<br>
            </span>
        </div>

        <div class="context">
            <span>懂了，之後上課就帶這個 (誤)</span>
        </div>

        <div class="parallax p2">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">金屬 3D 列印</b>
                <br><br>
                看這細膩度
            </span>
        </div>

        <div class="context">
            <span>
                也是有比較與眾不同的 AI<br>
                手語產生 AI<br>
                根據解說他們之後會加入實時翻譯的功能<br>
                <br>
                (手語的訓練資料應該真的難找)<br>
            </span>
        </div>

        <div class="parallax p4">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">電腦機殼</b>
                <br><br>
                奇型怪狀的電腦機殼<br>
            </span>
        </div>

        <div class="context">
            <span>
                嗯? MOSFET?<br>
                GaN FET (我原本以為是 MOSFET)<br>
                趕緊惡補下知識：<br>
                <a class="text-blue-300" href="https://www.ti.com/zh-tw/technologies/gallium-nitride.html">
                    https://www.ti.co...
                </a>
            </span>
        </div>

        <div class="parallax p5">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">AI 西洋棋</b>
                <br><br>
                自動記錄移動歷史<br>
                能跟 AI 對戰的西洋棋<br>
                棋盤有發光提示<br>
                <br>
                還會自己移動 (另外一個，不是照片這個)<br>
            </span>
        </div>

        <div class="context">
            <span>是說其實我不會下西洋棋</span>
        </div>

        <div class="parallax p6">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">有彈性的導線</b>
                <br><br>
                像鬆緊帶一樣能伸縮導線你見過嗎<br>
                經過數次凹折也不會斷裂<br>
                (一旁有個凹線測試的機器，每凹一次 LCD 上的數字會+1，上面的數字是...4千多萬..)<br>
                <br>
                但有個問題<br>
                這種線怎麼連接?<br>
                展品介紹的是說他們有方案了<br>
                但不能透漏...<br>
            </span>
        </div>

        <div class="context">
            <span>
                對了<br>
                這裡還有外國人熱情的向你介紹展品<br>
                ：Can u speak english ?<br>
                我：No<br>
                <br>
                還是有介紹啦<br>
                大概聽的懂那是關於柔性太陽能板的介紹<br>
                但是詳細的細節就聽不懂了<br>
            </span>
        </div>

        <div class="parallax p7">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">插座</b>
                <br><br>
                看到這插座裡有類似藍芽模塊的東西就知道是事情不簡單<br>
            </span>
        </div>

        <div class="context">
            <span>(走了幾小時，我的腳開始抗議了)</span>
        </div>

        <div class="parallax p8">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">導熱材料</b>
                <br><br>
                銅的導熱率  400 W/mK<br>
                經過改良加了金剛石後<br>
                導熱率提升到了 600 多<br>           
            </span>
        </div>

        <div class="context">
            <span>
                科普：<br>
                金剛石的導熱率是目前已知最高的<br>
                介於1,500-2,200 W/mK 之間<br>
                (但就是有些費 $)<br>
            </span>
        </div>

        <div class="parallax p9">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">散熱</b>
                <br><br>
                這是一個原本用在高鐵上的散熱裝置<br>
                現在他被引進了電腦領域<br>
                <br>
                DM寫的很詳細，我就不寫了 (躺)<br>
            </span>
        </div>

        <div class="context">
            <span>嗯? 沒看過的 CPU/GPU 散熱方式</span>
        </div>

        <div class="parallax p10">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">E Ink Spectra 6</b>
                <br><br>
                這玩意刷新了我的認知<br>
                根本是印刷等級的色彩表現 (他是屏幕！不是畫)<br>
                而且由於 "電子紙" 的特性 <br>
                它僅在畫面更新時消耗電力<br>
                顯示靜態圖像時不耗電，可以長時間顯示內容<br>

            </span>
        </div>

        <div class="context">
            <span>
                大概就是以上這些<br>
                以上描述大多都是著重在我<br>
                看到了甚麼<br>
                學到了甚麼<br>
                想深入了解技術的可以看 DM<br>
            </span>
        </div>

        <div class="parallax p11">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">午餐</b>
                <br><br>

                我的午餐<br>
                肉好硬，麵普通<br><br>
                420$ ( 我^*$@# )<br>
            </span>
        </div>

        <div class="context">
            <span>想午餐要吃甚麼是世界上最困難的事</span>
        </div>

        <div class="parallax p12">
            <p>
                <b class="text-blue-400" style="font-size: 26px;">結尾 & 本次收穫</b>
                <br><br>
                5.5 個小時後，終於逛完了<br>
                <br>
                除了上面這些以外的展品<br>
                其他也都讓我有所收穫<br>

                「機械手臂」，「AI 股價分析的 App」<br>
                「貨物管理的 AI 無人機」，「機械狗」<br>
                「可以吸附在手機後面的硬碟」，「助力腳踏車」<br>
                「OLED 按鍵」<br>
                <br><br>
                <b class="text-blue-400" style="font-size: 26px;">戰利品</b>
                <br>
                DM X 1疊<br>
                尺 X 2<br>
                礦泉水 X 1<br>
                袋子 X 2<br>

            </p>
        </div>

        <div class="parallax p12">
            <p>
                <b class="text-blue-400" style="font-size: 26px;">億點點的小失望</b>
                <br>
                雖然這次的展覽有許多收穫<br>
                但有些失望的是一大片的電腦周邊之海：<br>
                機殼、鍵盤、螢幕、風扇、滑鼠...<br>
                這類展品的密度真的太高了。我還是比較想看到更多的創意展品<br>
                (但人家畢竟是電腦展)<br>
                <br><br>
                <b class="text-blue-400" style="font-size: 26px;">最後</b>
                <br>
                鼓勵各位有空多向外走走 <del>甚麼你說要上課? 請假啊</del><br>
                增廣見聞的同時也累積經驗<br>
                <br>
                不要怕生，不懂就問：可以介紹一下這個東西嗎<br>
                相信參展人員都是很樂意為你介紹的<br>
            </p>
        </div>

        <div class="context">
            <span>
                <b class="text-blue-400" style="font-size: 26px;">致下一屆的我 (如果有的話)</b>
                <br><br>
                記得帶泡麵、記得帶泡麵、記得帶泡麵<br>
                不要相信台北的物價<br>
                泡麵是唯一真理 (不接受反駁)<br>
                <br>
                除非...老闆能幫我寫假單<br>
                <br><br><hr>
            </span>
        </div>

    </div>


    <style>
        .computex {
            position: absolute;
            top:40%;
            left: 50%;
            transform: translateX(-50%);
            
            font-size: 60px;

            color: white;
            text-shadow: 2px 2px 2px black;
        }

        .parallax {
            position: relative;
            height: 94%;
            width: 100%;

            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            background-attachment: fixed;

            color: white;
            overflow: hidden;
            z-index: 1;
        }

        .parallax span {
            display: block;
            margin-left: auto;
            margin-right: 30px;

            margin-top: 16%;

            height: min-content;
            width: 36%;
            padding: 12px;

            text-shadow: 2px 2px 2px black,
                        -2px -2px 2px black;

            background-color: rgba(30, 30, 30, 0.5);
        }
        .parallax p {
            display: block;
            margin-top: 4%;

            height: min-content;
            width: 100%;

            font-size: 22px;
            text-align: center;

            text-shadow: -1px -1px 0 black,
                        1px -1px 0 black,
                        -1px 1px 0 black,
                        1px 1px 0 black;

            background-color: rgba(30, 30, 30, 0.5);
            padding: 12px;
        }

        .context {
            position: relative;
            height: min-content;
            width: 100%;
            overflow: visible;

            padding: 20px;

            background-color: rgba(30, 30, 30, 1);
            color: white;
            z-index: 100;
        }
        .context span {
            display: block;
            width: 100%;

            text-align: center;
        }

        .context-blur-bg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            height: 110%;
            width: 100%;

            backdrop-filter: blur(3px);
        }

        .p1 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/venue.jpg");}

        .p2 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/metal_3d_print.jpg");}
        .p3 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/bluetooth_glasses.jpg");}
        .p4 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/computer_case.png");}
        .p5 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/chess.jpg");}
        .p6 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/line.jpg");}
        .p7 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/socket.jpg");}
        .p8 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/thermal_conductivity1.jpg");}
        .p9 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/heat_dissipation.jpg");}
        .p10 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/screen.jpg");}

        .p11 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/lunch.jpg");}
        .p12 { background-image: url("/icrack41-blog/assets/post_img/computex_2025/dm.jpg");}

        @media screen and (max-width: 640px) {
            .computex {
                position: absolute;
                top:40%;
                left: 50%;
                transform: translateX(-50%);
                
                font-size: 40px;

                color: white;
                text-shadow: 2px 2px 2px black;
            }

            .parallax span {
                margin-left: 0;
                margin-right: 0;

                width: 100%;
            }
        }


    </style>

</Layout>

