---
---

<div class="x">
    <h4>基礎</h4>
    <ul>
        <li><a href="/icrack41-blog/cpp_note/dt_syntax">語法</a></li>
        <li><a href="/icrack41-blog/cpp_note/dt_basic">基本知識</a></li>
        <li><a href="/icrack41-blog/cpp_note/dt_big_o">複雜度</a></li>
    </ul>

    <h4>算法</h4>
    <ul>
        <li><a href="dt_binary_search">二分搜索</a></li>
        <li><a href="dt_dynamic_programming">動態規劃</a></li>
        <li><a href="dt_graph">圖論</a></li>
    </ul>
</div>

<style>
    .x{
        position: absolute;
        bottom: 20px;
        left: 0;

        width: auto;
        height: auto;
        min-width: 30dvh;
        max-height: 80dvh;

        overflow-y: auto;

        border-radius: 10px;
        border: solid 1px white;

        background-color: white;
        
        padding: 10px;

        transform: scale(0.3) translateX(-80%);
        transform-origin: 0% 100%;
        transition: all 0.1s ease-in;
    }

    .x:hover {
        background-color: #151717;
        transform: scale(1) translateX(0);
    }
</style>