---
const DISCORD_LINK = "https://discordapp.com/users/1086832595943305236";
const GITHUB_LINK = "https://github.com/lbc0841";
---

<div style="margin-bottom: 80px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">找到我<hr></div>

    <div style="color: rgb(160,160,160);">
        
        <i class="fa-brands fa-discord" style="width: 26px;"></i>
        <b>Discord</b>
        <a class="text-blue-400 hover:text-sky-300" href={DISCORD_LINK} target="_blank">lbc0841</a>
        <br>

        <i class="fa-solid fa-envelope" style="width: 26px;"></i>
        <b>Gmail</b>
        <a class="text-blue-400 hover:text-sky-300" href="" target="_blank">cracker04012008@gmail.com</a>
        <br>

        <i class="fa-brands fa-github" style="width: 26px;"></i>
        <b>Github</b>
        <a class="text-blue-400 hover:text-sky-300" href={GITHUB_LINK} target="_blank">https://github.com/lbc0841</a>
        <br>

    </div>
    
</div>
