---
import "../styles/loading_anim.css";
---

<div id="loading-anim" class="loading-anim">
    <svg width="50px" height="50px" viewBox="0 0 50 50">
        <path d="M 47,49
        h -44 q -2,0 -2,-2
        v -44 q 0,-2 2,-2"></path>

        <path d="M 3,1
        h 44 q 2,0 2,2 
        v 44 q 0,2 -2,2"></path>

        <text>while(True): time.sleep(1)</text>
    </svg>
</div>

<!-- <script>
	window.addEventListener("load", function () {
		const loading = document.getElementById("loading-anim");

		this.setTimeout(function(){
			if(loading) loading.style.display = "none";
		}, 2000);
	});
</script> -->



