---
import "../styles/loading_anim.css";
---

<div class="loading-anim">
    <svg width="50px" height="50px" viewBox="0 0 50 50">
        <path d="M 47,49
        h -44 q -2,0 -2,-2
        v -44 q 0,-2 2,-2"></path>

        <path d="M 3,1
        h 44 q 2,0 2,2 
        v 44 q 0,2 -2,2"></path>

        <!-- <text>while(True): time.sleep(1)</text> -->
        <text>Loading...</text>
    </svg>
</div>
