---
import { Border2 } from "../assets/borders"

---
<div class="h-full w-full overflow-auto snap-y snap-always snap-mandatory">

    <!-- <div class="mt-[30dvh] mx-12 snap-center">
        <h1 class="text-2xl md:text-3xl font-bold mb-4">3D - Modeling</h1>
        <span class="text-xl px-2">Blender</span>

        <div class="grid grid-cols-3 gap-2 md:gap-4 mt-2">
            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-cube"></i>
                <span class="text-center">Mesh</span>
            </div>

            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-bone"></i>
                <span class="text-center">Skeleton</span>
            </div>

            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-s"></i>
                <span class="text-center">Shader</span>
            </div>
        </div>
    </div> -->
    
    <!-- WELCOME -->
    <div class="mt-[50dvh] text-center snap-center">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center p-4" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            <span class="text-blue-200" style="filter: drop-shadow(0 0 10px rgba(0,0,255,0.6));">WELCOME</span>
            TO MY BLOG
        </h1>

        <span class="block text-zinc-300 text-shadow-md text-shadow-zinc-800 mt-2">View More:</span>

        <div class="grid grid-cols-3 gap-6 sm:gap-10  mt-2 mx-[12dvw] md:mx-[22dvw]">
            <a class="block py-6 border-2 text-center font-share-tech-mono hover:bg-white hover:text-black hover:opacity-80" href="/icrack41-blog/notes">Notes</a>
            <a class="block py-6 border-2 text-center font-share-tech-mono hover:bg-white hover:text-black hover:opacity-80" href="/icrack41-blog/projects">Projects</a>
            <a class="block py-6 border-2 text-center font-share-tech-mono hover:bg-white hover:text-black hover:opacity-80" href="/icrack41-blog/friends">Friends</a>
        </div>
    </div>

    <!-- From Ideas to Reality -->
    <div class="relative mt-[50dvh] mx-12 py-28 snap-center">
        <Border2/>
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto scale-y-125 -translate-y-4" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            From Ideas to
            <span class="text-blue-200" style="filter: drop-shadow(0 0 10px rgba(0,0,255,0.6));">Reality</span>
        </h1>
    </div>

    <!-- Light bulb -->
    <!-- <div class="relative mt-[50dvh] mx-12 py-28 snap-center">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto scale-y-125 -translate-y-4" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            Light bulb
        </h1>
    </div> -->



    <!-- History -->
    <div class="mt-[50dvh] text-center snap-center">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto"  style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">History</h1>
        
        <div class="inline-block text-left text-lg/8 text-shadow-md text-shadow-zinc-800 font-bold mt-4">
            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 December:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">召喚友列</span><small class="text-sm"> (Finished Fiends Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 中秋節:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">月球加入了世界</span><small class="text-sm"> (Created a Moon Using Three.js)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 September:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">我是誰?</span><small class="text-sm"> (Finished About Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 July:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">筆記&專案</span><small class="text-sm"> (Finished Note and Project Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 June:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">新的開始</span><small class="text-sm"> (First Push on GitHub)</small><br>
                <span class="border-l-2 border-white pl-8 ml-1">鬼轉 Astro</span><small class="text-sm"> (Hexo to Astro)</small>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-[60dvh] h-[50dvh] bg-zinc-950 opacity-80 snap-center pt-[10dvh]">
        <span class="block w-full text-center text-2xl font-share-tech-mono">Icrack</span>
        <span class="block w-full text-center text-xl text-zinc-400">梭哈，是種智慧 / 賭狗，應有盡有</span>
        <span class="block w-full text-center text-xl font-share-tech-mono text-zinc-400">Gmail: cracker04012008@gmail.com</span>

        <span class="block w-full text-center font-share-tech-mono mt-12 text-sm text-zinc-400">© 2025 All rights reserved.</span>
        <span class="block w-full text-center font-share-tech-mono pb-8 text-sm text-zinc-400">Powered by Astro / Tailwind CSS / Three.js</span>
    </div>

    
</div>
