---
import "../styles/main_navigation.css";
import { Image } from "astro:assets";
import profileImg from '../assets/profile_img.webp';
import HamburgerMenu from "./HamburgerMenu.astro";
---

<div class="absolute top-0 left-0 w-full px-4 py-4 flex justify-between align-middle bg-[rgba(4, 19, 42, 1)] z-999">
        <div class="font-bold">ICRACK</div>

        <div class="hidden gap-6 mr-6 xs:flex">
            <a href="/about">About</a>
            <a href="/zj_ans">Notes</a>
            <a href="/-">Projects</a>
            <a href="/posts">Posts</a>
        </div>

        <HamburgerMenu/>
</div>

<script>
    const mainNavHamburger = document.getElementById("main-nav-links-hamburger");
    const toggler = document.getElementById("toggler") as HTMLInputElement;

    document.addEventListener("click", (e) => {

        const target = e.target as HTMLElement;
        if(!mainNavHamburger?.contains(target) && e.target != toggler){
            toggler.checked = false;
        }
    });

</script>
