---
---
<div class="h-full w-full px-12 overflow-auto">
    <div class="mt-20">
        <h1 class="et-float-in text-2xl md:text-3xl font-bold mb-4">3D - Modeling</h1>
        <span class="et-float-in text-xl px-2">Blender</span>

        <div class="et-float-in grid grid-cols-3 gap-2 md:gap-4 mt-2">
            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-cube"></i>
                <span class="text-center">Mesh</span>
            </div>

            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-bone"></i>
                <span class="text-center">Skeleton</span>
            </div>

            <div class="border-1 rounded-lg flex flex-col w-18 md:w-26 h-18 md:h-26 hover:bg-white hover:text-black duration-200">
                <i class="mx-auto mt-2 md:mt-6 mb-0 md:mb-1 text-4xl fa-solid fa-s"></i>
                <span class="text-center">Shader</span>
            </div>
        </div>
    </div>
    
    <div class="mt-80">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto scale-y-125" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            From Ideas to
            <span class="text-blue-200">Reality</span>
        </h1>
    </div>

    <!-- History -->
    <div class="mt-80">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto">History</h1>
    </div>
</div>
