---
import "../styles/main_navigation.css";
---

<div class="main-nav-container">
    <nav class="main-nav">
        <div class="logo">ICRACK</div>
        <ul class="main-nav-links hidden sm:flex">
            <li><a href="/icrack41-blog/">Home</a></li>
            <li><a href="/icrack41-blog/about">About</a></li>
            <li><a href="/icrack41-blog/projects">Projects</a></li>
            <li><a href="/icrack41-blog/posts">Posts</a></li>
        </ul>
        
        <div class="language-switch">
            <i class="fa-solid fa-globe"></i>
            English
        </div>
        
    </nav>
</div>
