---
import { Border2 } from "../assets/borders"
import Image from "astro/components/Image.astro"
import profileImg from '../assets/img/profile_img.webp';
import yoooImg from '../assets/img/yooo.webp';
import discordImg from '../assets/img/discord.png';
import { LightBulbIcon } from "../assets/icons"

---
<div id="scroll-root" class="h-full w-full overflow-y-auto overflow-x-hidden snap-y snap-always snap-mandatory">
    
    <!-- WELCOME -->
    <div class="et-float-in mt-[30dvh] text-center snap-center">
        <h1 class="text-2xl font-share-tech-mono font-bold text-center p-4" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            <span class="text-blue-200 text-8xl" style="filter: drop-shadow(0 0 10px rgba(0,0,255,0.6));">WELCOME</span><br>
            TO MY BLOG
        </h1>

        <div class="grid grid-cols-3 gap-6 sm:gap-10  mt-2 mx-[12dvw] md:mx-[22dvw]">
            <a class="clickable block py-6 border-2 text-center font-share-tech-mono hover:bg-white/30"  href="/icrack41-blog/notes">Notes</a>
            <a class="clickable block py-6 border-2 text-center font-share-tech-mono hover:bg-white/30" href="/icrack41-blog/projects">Projects</a>
            <a class="clickable block py-6 border-2 text-center font-share-tech-mono hover:bg-white/30" href="/icrack41-blog/friends">Friends</a>
        </div>
    </div>

    <!-- From Ideas to Reality -->
    <div class="relative mt-[50dvh] mx-12 py-28 snap-center">
        <Border2/>

        <h1 class="pointer-events-none text-6xl font-share-tech-mono font-bold text-center mx-auto scale-y-125 -translate-y-4 z-10" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            From Ideas to
            <span class="text-blue-200" style="filter: drop-shadow(0 0 10px rgba(0,0,255,0.6));">Reality</span>
        </h1>

        <h2 class="pointer-events-none text-2xl font-bold text-center mx-auto text-zinc-400" style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">
            點亮創意．照亮世界
        </h2>

        <div id="light-bulb" class="absolute top-0 left-[50%] h-[60dvh] translate-y-[-26dvh] translate-x-[-50%] w-12 overflow-visible">
            <div class="absolute top-0 left-[50%] h-[80%] w-0.5 bg-zinc-400"></div>
            <div id="light-bulb-mask" class="pointer-events-none absolute top-0 left-0 translate-x-[-50%] translate-y-[-40%] w-[4200px] h-[4200px] z-100"></div>
            <LightBulbIcon className="clickable absolute bottom-0 left-[50%] translate-x-[-50%] rotate-180" width={140} height={140}/>
        </div>
    </div>

    <!-- My Server -->
    <div class="et-float-in mt-[30dvh] text-center snap-center">
        <div class="w-[80%] bg-black/80 border-2 border-zinc-900 rounded-md mx-auto p-4">
            <div id="discord-msg-box" class="h-[64dvh] overflow-y-scroll p-2"
                data-avatar-src={discordImg.src} 
                data-yooo-src={yoooImg.src}>

                <div class="flex w-full">
                    <Image class="rounded-2xl mr-2 h-8 w-8" src={profileImg} alt="profile-img" height={20} width={20}/>
                    <div>
                        <span class="block text-left text-2xl">Join My Discord Server</span>
                        <div class="w-64 h-48 rounded-2xl border-1 border-zinc-600 bg-zinc-900 overflow-hidden">
                            <div class="w-full h-14 bg-zinc-400"></div>
                            <span class="block text-left px-4 mt-10">My Server</span>
                            <small class="block text-left px-4 text-zinc-400">建立日期：2025年3月</small>
                            <a class="block bg-green-600 hover:bg-green-700 w-[90%] mx-auto p-1 text-center rounded-md" href="https://discord.gg/GWEmUwaSFG">前往伺服器</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2 flex w-full">
                <span class="bg-zinc-900 border-1 border-zinc-800 rounded-2xl px-2 py-1 text-left text-xl mr-2">＋</span>
                <span class="w-full bg-zinc-900 border-1 border-zinc-800 rounded-xl px-2 py-1 text-left mr-2">:yooo:</span>
                <button id="discord-send" class="clickable bg-blue-600 rounded-2xl px-3 py-2 text-left"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <!-- History -->
    <div class="et-float-in mt-[50dvh] text-center snap-center">
        <h1 class="text-6xl font-share-tech-mono font-bold text-center mx-auto"  style="filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));">History</h1>

        <div class="inline-block text-left text-lg/8 text-shadow-md text-shadow-zinc-800 font-bold mt-4">
            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 December:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">友列</span><small class="text-sm"> (Finished Fiends Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 中秋節:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">月球加入了世界</span><small class="text-sm"> (Created a Moon Using Three.js)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 September:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">我是誰?</span><small class="text-sm"> (Finished About Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 July:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">筆記&專案</span><small class="text-sm"> (Finished Note and Project Page)</small>
            </span><br>

            <span class="text-zinc-200">
                <span class="text-blue-200">◇ 2025 June:</span><br>
                <span class="border-l-2 border-white pl-8 ml-1">新的開始</span><small class="text-sm"> (First Push on GitHub)</small><br>
                <span class="border-l-2 border-white pl-8 ml-1">鬼轉 Astro</span><small class="text-sm"> (Hexo to Astro)</small>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-[50dvh] snap-center">
        <!-- <div class="flex w-full">
            <Image class="mr-2 h-30 w-30" src={profileImg} alt="profile-img"/>
        </div> -->

        <div class="h-[50dvh] bg-zinc-950 opacity-80 pt-[10dvh] mt-8">
            <span class="block w-full text-center text-2xl font-share-tech-mono">Icrack</span>
            <span class="block w-full text-center text-xl text-zinc-400">梭哈，是種智慧 / 賭狗，應有盡有</span>
            <span class="block w-full text-center text-xl font-share-tech-mono text-zinc-400">Gmail: cracker04012008@gmail.com</span>

            <span class="block w-full text-center font-share-tech-mono mt-12 text-sm text-zinc-400">© 2025 All rights reserved.</span>
            <span class="block w-full text-center font-share-tech-mono pb-8 text-sm text-zinc-400">Powered by Astro / Tailwind CSS / Three.js</span>
        </div>
    </div>

    
</div>
