---
import "../styles/main_navigation.css";
import { Image } from "astro:assets";
import profileImg from '../assets/profile_img2.png';
---

<div class="main-nav-container">
    <nav class="main-nav">
        <div class="logo">ICRACK</div>

        <ul class="main-nav-links">
            <li><a href="/icrack41-blog/">Home</a></li>
            <li><a href="/icrack41-blog/about">About</a></li>
            <li><a href="/icrack41-blog/projects">Projects</a></li>
            <li><a href="/icrack41-blog/posts">Posts</a></li>
        </ul>

        <div class="flex" style="margin-right: 24px;">
            <div class="language-switch">
                <i class="fa-solid fa-globe"></i>
                <span>English</span>
            </div>

            <input type="checkbox" id="toggler" />

            <label for="toggler" class="hamburger-menu">
                <i id="hamburger" class="fa-solid fa-bars"></i>
                <i id="close" class="fa-solid fa-xmark"></i>
            </label>

            <div class="main-nav-links-hamburger">
                <Image src={profileImg} alt="profile-img" height={110} width={110} style="border-radius: 50%; margin-right: 20px;"/>
                <ul style="margin-top: 20px; list-style: '〉';">
                    <li><a href="/icrack41-blog/">Home</a></li>
                    <li><a href="/icrack41-blog/about">About</a></li>
                    <li><a href="/icrack41-blog/projects">Projects</a></li>
                    <li><a href="/icrack41-blog/posts">Posts</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


