---
import "../styles/main_navigation.css";
import { Image } from "astro:assets";
import profileImg from '../assets/profile_img.webp';
import HamburgerMenu from "./HamburgerMenu.astro";
---

<div class="main-nav-container px-4">
        <div class="font-bold">ICRACK</div>

        <div class="hidden gap-6 mr-6 xs:flex">
            <a href="/icrack41-blog/about">About</a>
            <a href="/icrack41-blog/zj_ans">Notes</a>
            <a href="/icrack41-blog/-">Projects</a>
            <a href="/icrack41-blog/posts">Posts</a>
        </div>

        <HamburgerMenu/>
</div>

<script>
    const mainNavHamburger = document.getElementById("main-nav-links-hamburger");
    const toggler = document.getElementById("toggler") as HTMLInputElement;

    document.addEventListener("click", (e) => {

        const target = e.target as HTMLElement;
        if(!mainNavHamburger?.contains(target) && e.target != toggler){
            toggler.checked = false;
        }
    });

</script>
