---
---

<div style="margin-bottom: 80px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">能力條<hr></div>

    <div class="flex" style="color: rgb(160,160,160);">
        <div style="margin-right: 20px;">
            <b>C</b> <br>
            <b>C++</b> <br>
            <b>HTML</b> <br>
            <b>CSS</b> <br>
            <b>JavaScript</b> <br>
            <b>Python</b> <br>
            <b>Verilog</b> <br>
            <b>HLSL</b> <br>
        </div>

        <div class="w-2xs">
            <progress max="100" value="57"></progress> <br>
            <progress max="100" value="60"></progress> <br>
            <progress max="100" value="50"></progress> <br>
            <progress max="100" value="48"></progress> <br>
            <progress max="100" value="22"></progress> <br>
            <progress max="100" value="30"></progress> <br>
            <progress max="100" value="63"></progress> <br>
            <progress max="100" value="6"></progress> <br>
        </div>
        
        
        
        
    </div>

</div>

