---
---

<div style="margin-bottom: 120px;">
    <div class="text-white text-2xl font-bold" style="margin-bottom: 12px; margin-right: 20px;">能力條<hr></div>

    <div class="flex" style="color: rgb(160,160,160);">
        <div class="code-ability-text">

            <div>
                <b>C</b><progress max="100" value="57"></progress>
            </div>

            <div>
                <b>C++</b><progress max="100" value="60"></progress>
            </div>

            <div>
                <b>HTML</b><progress max="100" value="50"></progress>
            </div>

            <div>
                <b>CSS</b><progress max="100" value="48"></progress>
            </div>

            <div>
                <b>JavaScript</b><progress max="100" value="22"></progress>
            </div>

            <div>
                <b>Python</b><progress max="100" value="30"></progress>
            </div>

            <div>
                <b>Verilog</b><progress max="100" value="63"></progress>
            </div>

            <div>
                <b>HLSL</b><progress max="100" value="6"></progress>
            </div>
        </div>

        <!-- <div class="code-ability-progress">
            <progress max="100" value="57"></progress> <br>
            <progress max="100" value="60"></progress> <br>
            <progress max="100" value="50"></progress> <br>
            <progress max="100" value="48"></progress> <br>
            <progress max="100" value="22"></progress> <br>
            <progress max="100" value="30"></progress> <br>
            <progress max="100" value="63"></progress> <br>
            <progress max="100" value="6"></progress> <br>
        </div> -->
    </div>

</div>

