---
import "../styles/my_posts.css"

import { Border1 } from "../assets/borders.tsx"
---

<div class="post-container">

    <div class="post-tag-container">
        <input id="tag-tutorial" type="checkbox">
        <label for="tag-tutorial" class="post-tag">教學</label>

        <input id="tag-tutorial" type="checkbox">
        <label for="tag-tutorial" class="post-tag">廢話</label>

        <input id="tag-tutorial" type="checkbox">
        <label for="tag-tutorial" class="post-tag">日常</label>

    </div>

    <div class="post">
        <Border1/>

        post
    </div>
		
    <div class="post">
        <Border1/>

        post
    </div>

    <div class="post">
        <Border1/>

        post
    </div>
</div>