---
import "../styles/my_projects.css"

import { Border1 } from "../assets/borders.tsx"

---

<div class="project-container">
    <div class="project">
        <Border1/>

        project
    </div>
		
    <div class="project">
        <Border1/>

        project
    </div>

    <div class="project">
        <Border1/>

        project
    </div>
</div>