---
import "../styles/my_projects.css"

import { Border1 } from "../assets/borders.tsx"

---

<div id="project-container" class="project-container">
    <!-- <div class="project">
        <Border1/>

        <b style="font-size: 40px;">畫集</b>
        
    </div>
		
    <div class="project">
        <Border1/>

        <b style="font-size: 40px;">隨身供電器 - DC2DC 5~12V</b>

    </div> -->

    <div class="project" style="background: blue;">
        <Border1/>

        <b style="font-size: 40px;">A</b>

    </div>

    <div class="project" style="background: green;">
        <Border1/>

        <b style="font-size: 40px;">B</b>

    </div>

    <div class="project" style="background: red;">
        <Border1/>

        <b style="font-size: 40px;">C</b>

    </div>

    <div class="project" style="background: yellow;">
        <Border1/>

        <b style="font-size: 40px;">D</b>

    </div>

</div>

<script is:browser>

    const projectContainer = document.getElementById('project-container');
    projectContainer.innerHTML += projectContainer.innerHTML;

    const posCenter = (projectContainer.scrollWidth-projectContainer.clientWidth)/2;
    projectContainer.scrollLeft = posCenter;

    function loopScroll(scrollAmount){

        if(projectContainer.scrollLeft > posCenter+10 || projectContainer.scrollLeft < posCenter-10){

            projectContainer.scrollTo({
                left: posCenter,
                behavior: "smooth",
            });
            
            return;
        }

        if(scrollAmount < 0){

            console.log(`<`);

            let lastItem = projectContainer.lastElementChild;
            if(lastItem){
                projectContainer.insertBefore(lastItem, projectContainer.firstElementChild);
                projectContainer.scrollLeft += (lastItem.offsetWidth + 30);
            }
        }
        else if(scrollAmount > 0){
            console.log(`>`);

            let firstItem = projectContainer.firstElementChild;
            if(firstItem){
                projectContainer.appendChild(firstItem);
                projectContainer.scrollLeft -= (firstItem.offsetWidth + 30);
            }
        }

        projectContainer.scrollTo({
            left: posCenter,
            behavior: "smooth",
        });
    }


    projectContainer.addEventListener("wheel", 

        (event) => {
            event.preventDefault();
            loopScroll(event.deltaY);
        },
        { passive: false },
    );

    
    
</script>

