---
import "../styles/social_links.css";
---

<div class="social-links-container">
    <ul class="social-links">
        <li>
            <a href="https://www.threads.com/@lbc0841" target="_blank"><i class="fa-brands fa-threads"></i></a>
        </li>
    
        <li>
            <a href="https://github.com/lbc0841" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
    
        <li>
            <a href="https://discord.gg/eTHuNe3H" target="_blank"><i class="fa-brands fa-discord"></i></a>
        </li>
    </ul>
</div>
