---
---

<div class="absolute bottom-10 w-full flex justify-center sm:justify-end gap-6 pl-8 pr-8">

    <button class="duration-100 rounded-sm border w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] hover:-translate-y-2"
        onclick="location.href='https://www.threads.com/@lbc0841'">

        <span class="text-white m-auto text-xl sm:text-2xl fa-brands fa-threads"></span>
    </button>

    <button class="duration-100 rounded-sm border w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] hover:-translate-y-2"
        onclick="location.href='https://github.com/lbc0841'">

        <span class="text-white m-auto text-xl sm:text-2xl fa-brands fa-github"></span>
    </button>

    <button class="duration-100 rounded-sm border w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] hover:-translate-y-2" 
        onclick="location.href='https://discord.gg/GWEmUwaSFG'">
        
        <span class="text-white m-auto text-xl sm:text-2xl fa-brands fa-discord"></span>
    </button>
</div>