---
import "../styles/social_links.css";
---

<div class="social-links-container">
    <ul class="social-links">
        <li>
            <a href="/"><i class="fa-brands fa-threads"></i></a>
        </li>
    
        <li>
            <a href="/"><i class="fa-brands fa-github"></i></a>
        </li>
    
        <li>
            <a href="/"><i class="fa-brands fa-discord"></i></a>
        </li>
    </ul>
</div>
