---
import MainNavigation from '../../components/MainNavigation.astro';
import Layout from '../../layouts/Layout.astro';

import "../../styles/index.css";
---

<Layout>
    <div class="background"></div>
	<div class="background-grid opacity-40"></div>
    <MainNavigation/>

    <div class="mt-16 px-8">
        <h1 class="text-3xl font-bold mb-4">學科</h1>
        <a class="text-blue-400 hover:text-cyan-300" href="https://onlinetest3-1.onlinetest.tw/bestcontent.asp?examid=t11700">乙級學科題庫線上測驗</a>

        <hr class="text-gray-400 my-10">

        <h1 class="text-3xl font-bold mb-4">術科</h1>

        <h2 class="text-xl mb-2">測試參考資料<a class="fa-solid fa-arrow-up-right-from-square ml-2" href="https://owinform.wdasec.gov.tw/"></a></h2>
        <a class="block text-blue-400 hover:text-cyan-300" href="https://owinform.wdasec.gov.tw/owInform/DLowFile/117002B13.pdf?13" target="_blank">術科簡章</a>
        <a class="block text-blue-400 hover:text-cyan-300" href="https://owinform.wdasec.gov.tw/owInform/DLowFile/117002B14.7z?13" target="_blank"></a>
        <br>
        

        <h2 class="text-xl mb-2">試題一、四位數顯示</h2>


        <h2 class="text-xl mb-2">試題二、鍵盤輸入顯示</h2>

    </div>

</Layout>