---
import Loading from "../components/Loading.astro";

import "../styles/global.css"
import "../styles/anim.css"

const themeColor = "#0b171d"; 
const favicon = "/favicon.svg";
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="theme-color" content={themeColor}>

		<link rel="icon" href={favicon} type="image/svg+xml">
		<link rel="shortcut icon" href={favicon} type="image/svg+xml">

		<!-- <link rel="manifest" href="/site.webmanifest.json"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
			integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" />
			
		<meta name="generator" content={Astro.generator} />

		<!-- <script src="../scripts/lottie.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" defer></script>

		<title>ICRACK</title>
		<meta name="description" content="程式．生活．學習，Astro × GitHub Pages 搭建的個人部落格">
        <meta name="keywords" content="icrack, icrack blog, icrack41">
	</head>

	<body>
		<div id="loading-anim">
			<Loading/>
		</div>
		
		<div id="page-content" class="page-content">
            <slot />
        </div>
		
		<script src="../scripts/smoothscroll.js"></script>
		<script src="../scripts/load_page.js"></script>
		<script src="../scripts/cursor_particle.js"></script>
		<script src="../scripts/entering_anim.js"></script>
	</body>

	
</html>
