---
const themeColor = "#0b171d"; 
const favicon = "/icrack41-blog/favicon.svg";
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="theme-color" content={themeColor}>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="icon" href={favicon} type="image/svg+xml">
		<link rel="shortcut icon" href={favicon} type="image/svg+xml">

		<link rel="manifest" href="/icrack41-blog/site.webmanifest.json">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta name="generator" content={Astro.generator} />
		<title>ICRACK's Web</title>
	</head>

	<body>
		<div class="slot-container">
            <slot />
        </div>

		<!-- <article></article> -->

		<script src="../scripts/Smoothscroll.js"></script>
	</body>
</html>
